<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/autopedia.css">
</head>
<body>
<div id="container">
    <header>
        <h1>메인이미지</h1>
        <img id="img1" src="/img/solar_embassy_main.png" alt="">
    </header>

    <aside id="left-sidebar">
        <h1>사이드바</h1>
    </aside>
    <section id="contents">
        <div id="margin">
            <div id="content1">
                <div id="btn">
                    <span id="autogalaxy"><a href="?">자동차 갤럭시</a></span>
                    <span id="autopedia"><a href="?">자동차 백과</a></span>
                </div>
            </div>
            <div id="content2">
                <div id="autobrand">
                    <span><a href="#"><img src="/img/autopedia/hyundai.jpg" alt=""><br>현대</a></span>
                    <span><a href="#"><img src="/img/autopedia/kia.png" alt=""><br>기아</a></span>
                    <span><a href="#"><img src="/img/autopedia/genesis.jpg" alt=""><br>제네시스</a></span>
                    <span><a href="#"><img src="/img/autopedia/Chevrolet.png" alt=""><br>쉐보레</a></span>
                    <span><a href="#"><img src="/img/autopedia/RS.png" alt=""><br>르노삼성</a></span>
                    <span><a href="#"><img src="/img/autopedia/ssangyong.png" alt=""><br>쌍용</a></span>
                    <span><a href="#"><img src="/img/autopedia/benz.jpg" alt=""><br>벤츠</a></span>
                    <span><a href="#"><img src="/img/autopedia/BMW.png" alt=""><br>BMW</a></span>
                    <span><a href="#"><img src="/img/autopedia/audi.jpg" alt=""><br>아우디</a></span>
                    <span><a href="#"><img src="/img/autopedia/volkswagen.png" alt=""><br>폭스바겐</a></span>
                    <span><a href="#"><img src="/img/autopedia/volkswagen.png" alt=""><br>포르쉐</a></span>
                    <span><a href="#"><img src="/img/autopedia/volkswagen.png" alt=""><br>토요타</a></span>
                    <span><a href="#"><img src="/img/autopedia/volkswagen.png" alt=""><br>렉서스</a></span>
                    <span><a href="#"><img src="/img/autopedia/volkswagen.png" alt=""><br>닛산</a></span>
                    <span><a href="#"><img src="/img/autopedia/volkswagen.png" alt=""><br>인피니티</a></span>
                    <span><a href="#"><img src="/img/autopedia/volkswagen.png" alt=""><br>혼다</a></span>
                    <span><a href="#"><img src="/img/autopedia/volkswagen.png" alt=""><br>캐딜락</a></span>
                </div>
            </div>
            <div id="content3"></div>
            <div id="content4">
                <div id="sub1"></div>
                <div id="sub2"></div>
            </div>
            <div id="content5">
                <div id="sub3"></div>
                <div id="sub4"></div>
            </div>
        </div>
    </section>
    <aside id="right-sidebar">
        <h1> 사이드바</h1>
    </aside>

    <footer>
        <h2> 푸터 </h2>
    </footer>
</div>
</body>
</html>