<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <!--원본 css-->
    <link rel="stylesheet" href="/css/index.css">
    <title>SOLAR EMBASSY</title>
</head>
<body>
<div id="SE_container">
    <th:block th:insert="/mainImg"></th:block>
    <div id="SE_topline">
        <!--검색과 로그인 + 왼쪽 사이드-->
        <th:block th:insert="/searchAndLogin"></th:block>
        <!--검색과 로그인 end-->
        <div id="SE_contents" style="z-index:2">
            <!--메뉴 + 오른쪽 사이드-->
            <th:block th:insert="/menuAndAside"></th:block>
            <!--메뉴 end-->

            <!--여기부터-->
            <div id="SE_content2">
                <div class="earth_2"><p>SOLAR EMBASSY에 오신 것을 환영합니다.</p></div>
            </div>

            <div id="SE_content3">
                <div id="SE_Major">
                    <div id="SE_Major_title"><p>주요 갤럭시</p></div>

                    <div id="SE_thumbnails"> <!--컨텐츠 제목-->

                        <a href="/board/boardList.do?galaxyNo=2">
                            <div class="SE_thumb">
                                <div class="SE_tA"><img src="/img/thumb_1.png">
                                    <div class="Major_T"><p>여행 갤럭시</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/board/boardList.do?galaxyNo=3">
                            <div class="SE_thumb">
                                <div class="SE_tA"><img src="/img/thumb_2.png">
                                    <div class="Major_T"><p>자동차 갤럭시</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/board/boardList.do?galaxyNo=4">
                            <div class="SE_thumb">
                                <div class="SE_tA"><img src="/img/thumb_3.png">
                                    <div class="Major_T"><p>게임 갤럭시</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="/board/boardList.do?galaxyNo=1">
                            <div class="SE_thumb">
                                <div class="SE_tA"><img src="/img/thumb_4.png">
                                    <div class="Major_T"><p>유머 갤럭시</p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div id="SE_sub2">
                    <div class="SE_ranking_title"><a href="#">HOT 게시글</a></div>
                    <div class="SE_ranking">
                        <!--Add board update soon...-->
                        <table class="table table-bordered" style="table-layout: fixed">
                            <colgroup>
                                <col span="1" style="width: 90px;height: 40px">
                                <col span="1" style="width: 270px;height: 40px">
                                <col span="1" style="width: 40px;height: 40px">
                            </colgroup>
                            <tbody>
                            <tr th:if="${hotlist!=null}" th:each="list_one:${hotlist}" class="text-center">
                                <td th:text="${list_one.galaxy.galName}"></td>
                                <td th:onclick="location.href=[[@{'/board/boardDetail?boardNo={boardNo}' (boardNo=${list_one.boardNo})}]]"
                                    th:text="${list_one.title}" class="text-start" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap"></td>
                                <!--                                <td th:text="${#dates.format(list_one.postTime,'yyyy-MM-dd')}"></td>-->
                                <td th:text="${list_one.likes}" class="text-start"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="SE_content4">
                    <div id="SE_sub3">
                        <div><a href=""><h3>최근 생성 된 게시글</h3></a></div>
                        <div class="SE_new_post">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col span="1" style="width: 40px;">
                                    <col span="1" style="width: 305px">
                                    <col span="1" style="width: 100px">
                                    <col span="1" style="width: 30px">
                                </colgroup>

                                <tbody>
                                <tr th:if="${list!=null}" th:each="list_one:${list}" class="text-center">
                                    <td th:text="${list_one.boardNo}"></td>
                                    <td th:onclick="location.href=[[@{'/board/boardDetail?boardNo={boardNo}' (boardNo=${list_one.boardNo})}]]"
                                        th:text="${list_one.title}" class="text-start"
                                        style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap"></td>
                                    <td th:text="${#dates.format(list_one.postTime,'yyyy-MM-dd')}"></td>
                                    <td th:text="${list_one.views}" class="text-start"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="SE_sub4">
                        <div><a href="/board/boardList.do?galaxyNo=1"><h3>유머 갤럭시</h3></a></div>
                        <div class="SE_sub4_content">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col span="1" style="width: 40px;">
                                    <col span="1" style="width: 305px">
                                    <col span="1" style="width: 100px">
                                </colgroup>

                                <tbody>
                                <tr th:if="${list!=null}" th:each="list_one:${list1}" class="text-center">
                                    <td th:text="${list_one.boardNo}"></td>
                                    <td th:onclick="location.href=[[@{'/board/boardDetail?boardNo={boardNo}' (boardNo=${list_one.boardNo})}]]"
                                        th:text="${list_one.title}" class="text-start"
                                        style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap"></td>
                                    <td th:text="${#dates.format(list_one.postTime,'yyyy-MM-dd')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="SE_content5">
                    <div id="SE_sub5">
                        <div><a href="/board/boardList.do?galaxyNo=2"><h3>여행 갤럭시</h3></a></div>
                        <div class="SE_board1">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col span="1" style="width: 40px;">
                                    <col span="1" style="width: 305px">
                                    <col span="1" style="width: 100px">
                                </colgroup>

                                <tbody>
                                <tr th:if="${list!=null}" th:each="list_one:${list2}" class="text-center">
                                    <td th:text="${list_one.boardNo}"></td>
                                    <td th:onclick="location.href=[[@{'/board/boardDetail?boardNo={boardNo}' (boardNo=${list_one.boardNo})}]]"
                                        th:text="${list_one.title}" class="text-start"
                                        style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap"></td>
                                    <td th:text="${#dates.format(list_one.postTime,'yyyy-MM-dd')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="SE_sub6">
                        <div><a href="/board/boardList.do?galaxyNo=3"><h3>자동차 갤럭시</h3></a></div>
                        <div class="SE_board2">
                            <table class="table">
                                <colgroup>
                                    <col span="1" style="width: 40px;">
                                    <col span="1" style="width: 305px">
                                    <col span="1" style="width: 100px">
                                </colgroup>

                                <tbody>
                                <tr th:if="${list!=null}" th:each="list_one:${list3}" class="text-center">
                                    <td th:text="${list_one.boardNo}"></td>
                                    <td th:onclick="location.href=[[@{'/board/boardDetail?boardNo={boardNo}' (boardNo=${list_one.boardNo})}]]"
                                        th:text="${list_one.title}" class="text-start"
                                        style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap"></td>
                                    <td th:text="${#dates.format(list_one.postTime,'yyyy-MM-dd')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="SE_content6">
                    <div id="SE_sub7">
                        <div><a href="/board/boardList.do?galaxyNo=4"><h3>게임 갤럭시</h3></a></div>
                        <div class="SE_board3">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col span="1" style="width: 40px;">
                                    <col span="1" style="width: 305px">
                                    <col span="1" style="width: 100px">
                                </colgroup>

                                <tbody>
                                <tr th:if="${list!=null}" th:each="list_one:${list4}" class="text-center">
                                    <td th:text="${list_one.boardNo}"></td>
                                    <td th:onclick="location.href=[[@{'/board/boardDetail?boardNo={boardNo}' (boardNo=${list_one.boardNo})}]]"
                                        th:text="${list_one.title}" class="text-start"
                                        style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap"></td>
                                    <td th:text="${#dates.format(list_one.postTime,'yyyy-MM-dd')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="SE_content7">
                    <div id="SE_sub8">
                        <div><a href="/board/camping.do?galaxyNo=5"><h3>캠핑 갤럭시</h3></a></div>
                        <div class="SE_board4">
                            <table class="table table-bordered">
                                <colgroup>
                                    <col span="1" style="width: 40px;">
                                    <col span="1" style="width: 305px">
                                    <col span="1" style="width: 100px">
                                </colgroup>

                                <tbody>
                                <tr th:if="${list!=null}" th:each="list_one:${list5}" class="text-center">
                                    <td th:text="${list_one.boardNo}"></td>
                                    <td th:onclick="location.href=[[@{'/board/boardDetail?boardNo={boardNo}' (boardNo=${list_one.boardNo})}]]"
                                        th:text="${list_one.title}" class="text-start"
                                        style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap"></td>
                                    <td th:text="${#dates.format(list_one.postTime,'yyyy-MM-dd')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <section id="SE_contents2">
                        <div>
                            <a href="https://kartdrift.nexon.com/" target="_blank"><img src="/img/autopedia/banner1.png" alt=""></a>
                        </div>
                    </section>

                    <section id="SE_contents3">
                        <div>
                            <a href="https://lp.jetbrains.com/academy/learn-kotlin/" target="_blank"><img src="/img/autopedia/banner2.png" alt=""></a>
                        </div>
                    </section>

                    <th:block th:insert="/footer"></th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>