<!-- xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout}"> -->
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>SOLAR EMBASSY</title>
    <link rel="stylesheet" href="/css/index_origin.css">
</head>
<body>
<div id="container">
    <header>
        <h6>메인이미지</h6>
        <a href="/">
            <img id="img1" src="/img/solar_embassy_main.png" alt="">
        </a>
        <div id="login_btn">
            <a href="/user/login.do">Login</a>
            <a href="/user/withdrawl.do">탈퇴</a>
        </div>
    </header>

    <!--검색-->
    <form>
        <div id="searchs"><input type="text" id="search-bar" placeholder="검색어를 입력하세요.">
            <button type="button" id="btn">검색</button>
        </div>
    </form>

    <aside id="left-sidebar">
        <h1> 사이드바</h1>
    </aside>

    <section id="contents">

        <div id="content1">
            <nav>
                <div class="nav_container">
                    <ul>
                        <li class="nav-bar"><h3><a href="#">우주의 중심</a></h3></li>
                        <li class="nav-bar"><h3><a href="#">태양계 소식</a></h3></li>
                        <li class="nav-bar"><h3><a href="#">주제별 갤럭시</a></h3></li>
                        <li class="nav-bar"><h3><a href="#">마이너 갤럭시</a></h3></li>
                        <li class="nav-bar"><h3><a href="#">스타 콜로세움</a></h3></li>
                        <li class="nav-bar"><h3><a href="#">태양계 놀이터</a></h3></li>
                        <li class="nav-bar"><h3><a href="#">아이콘 샵</a></h3></li>
                    </ul>

                </div>
            </nav>
        </div>

        <div id="content2">
            <img id="img2" src="/img/solar_main.png" alt="">
            <a id="autopedia_door" href="/galaxy/autopedia.do">자동차</a>
            <!-- <h3>컨텐츠 img영역</h3> -->
        </div>

        <div id="content3">
            <div id="sub1"><h3>최근 생선된 플래닛</h3></div>
            <div id="sub2"><h3>분류별 플래닛 </h3></div>
        </div>

        <div id="content4">
            <div id="sub3"><h3>플래닛 board1</h3></div>
            <div id="sub4"><h3>플래닛 board2</h3></div>
        </div>

        <div id="content5">
            <div id="sub5"><h3>플래닛 board3</h3></div>
            <div id="sub6"><h3>플래닛 board4</h3></div>
        </div>

        <div id="content6">
            <div id="sub7"><h3>플래닛 board5</h3></div>
        </div>

        <div id="content7">
            <div id="sub8"><h3>플래닛 board6</h3></div>
        </div>
    </section>


    <aside id="right-sidebar">
        <h1> 임시 사이드바</h1>
    </aside>

    <footer id="footer">
        <p>
        <h3><a href="#">서비스 소개</a> / <a href="#">이용약관</a> / <a href="#">개인정보 취급방침</a> /<a href="#">비즈니스 문의</a> / <a
                href="#">SNS</a> / <a href="#">이메일</a> /<a href="#">연락처</a></h3></p>
        <p>
        <h3>Copyright (c) <a href="#">www.solarembassy.com</a> All rights reserved.</h3></p>
    </footer>
</div>

</div>
</body>
</html>