<div id="SE_content1">
    <ul id="SE_menu_wrap">
        <li class="SE_top_menu">
            <img class="SE_navIMG" src="/img/1.png" alt="navIMG" style="width: 30px;height: 30px;">
            <a href="#">메인 메뉴</a>
            <ul class="SE_sub_menu">
                <li><a href="#">메인 홈</a></li>
                <li><a href="#">마이 페이지</a></li>
            </ul>
        </li>

        <li class="SE_top_menu">
            <img class="SE_navIMG" src="/img/2.png" alt="navIMG" >
            <a href="#">태양계 소식지</a>
            <ul class="SE_sub_menu">
                <li><a href="#">공지사항</a></li>
                <li><a href="#">이용정책</a></li>
                <li><a href="#">이벤트 안내</a></li>
            </ul>
        </li>

        <li class="SE_top_menu">
            <img class="SE_navIMG" src="/img/3.png" alt="navIMG">
            <a href="#">주제별 갤럭시</a>
            <ul class="SE_sub_menu">
                <li><a href="#">스포츠</a></li>
                <li><a href="#">문학</a></li>
                <li><a href="#">문화</a></li>
                <li><a href="#">게임</a></li>
            </ul>
        </li>

        <li class="SE_top_menu">
            <img class="SE_navIMG" src="/img/4.png" alt="navIMG">
            <a href="#">마이너 갤럭시</a>
            <ul class="SE_sub_menu">
                <li><a href="#">유머</a></li>
                <li><a href="#">취미</a></li>
                <li><a href="/board/boardList.do?galaxyNo=2">여행</a></li>
                <li><a href="/board/boardList.do?galaxyNo=3">자동차</a></li>
            </ul>
        </li>

        <li class="SE_top_menu">
            <img class="SE_navIMG" src="/img/6.png" alt="navIMG">
            <a href="#">태양계 놀이터</a>
            <ul class="SE_sub_menu">
                <li><a href="#">외계인 잡기</a></li>
                <li><a href="#">행성 맞추기</a></li>
                <li><a href="#">개발중</a></li>
            </ul>
        </li>

        <li class="SE_top_menu">
            <img class="SE_navIMG" src="/img/5.png" alt="navIMG">
            <a href="#">스타 콜로세움</a>
            <ul class="SE_sub_menu">
                <li><a href="#">개발중</a></li>
                <li><a href="#">개발중</a></li>
                <li><a href="#">맞짱 게시판</a></li>
            </ul>
        </li>
    </ul>
</div>
<aside id="SE_right-sidebar">
    <!-- <h1> 우측 사이드바</h1>
    <h1> 기능없는상태</h1> -->
</aside>
