<div>
    <ul id="SE_menu_wrap">
        <li class="SE_top_menu">
            <img src="/img/n1.gif" alt="navIMG" width="20px" height="20px">
            <a href="#">메인 메뉴</a>
            <ul class="SE_sub_menu">
                <li><a href="/">메인 홈</a></li>
                <li th:if="${session.loginUser!=null}"><a href="/user/my_page.do">마이 페이지</a></li>
            </ul>
        </li>

        <li class="SE_top_menu">
            <img src="/img/n2.gif" alt="navIMG" width="20px" height="20px">
            <a href="#">태양계 소식지</a>
            <ul class="SE_sub_menu">
                <li><a href="#">공지사항</a></li>
                <li><a href="#">이용정책</a></li>
                <li><a href="#">이벤트 안내</a></li>
            </ul>
        </li>

        <li class="SE_top_menu">
            <img src="/img/n3.gif" alt="navIMG" width="20px" height="20px">
            <a href="#">주제별 갤럭시</a>
            <ul class="SE_sub_menu">
                <li><a href="/board/boardList.do?galaxyNo=2">여행</a></li>
                <li><a href="/board/boardList.do?galaxyNo=3">자동차</a></li>
                <li><a href="/board/boardList.do?galaxyNo=4">게임</a></li>
                <li><a href="/board/boardList.do?galaxyNo=1">유머</a></li>
            </ul>
        </li>

        <li class="SE_top_menu">
            <img src="/img/n4.gif" alt="navIMG" width="20px" height="20px">
            <a href="#">마이너 갤럭시</a>
            <ul class="SE_sub_menu">
                <li><a href="/board/camping.do?galaxyNo=5">캠핑</a></li>
                <li><a href="/board/boardList.do?galaxyNo=6">해외차</a></li>
                <li><a href="/board/boardList.do?galaxyNo=7">아재개그</a></li>
                <li><a href="/board/boardList.do?galaxyNo=8">롤</a></li>
            </ul>
        </li>

        <li class="SE_top_menu">
            <img src="/img/n5.gif" alt="navIMG" width="20px" height="20px">
            <a href="#">출석체크!</a>

        </li>

        <li class="SE_top_menu">
            <img src="/img/n6.gif" alt="navIMG" width="20px" height="20px">
            <a href="#">EVENT</a>
            <ul class="SE_sub_menu">
                <li><a href="#">끝말잇기</a></li>
            </ul>
        </li>
    </ul>
</div>

<aside id="SE_right-sidebar">
    <!-- 우측 사이드바 기능은 없음.-->
</aside>