<form>
    <!--검색-->
    <div id="SE_search">
        <input type="text" placeholder="검색어를 입력하세요.">
        <button type="button" onclick="location.href='/user/search.do'">검색</button>
    </div>
</form>

<!--로그인-->
<form>
    <div id="SE_login">
        <button type="button" th:if="${session.loginUser!=null}"
                th:text="${session.loginUser.nickname}"></button>
        <button type="button" th:if="${session.loginUser==null}"
                onclick="location.href='/user/login.do'">로그인
        </button>
        <button type="button" th:if="${session.loginUser!=null}"
                onclick="location.href='/user/logout.do'">로그아웃
        </button>
        <button type="button" th:if="${session.loginUser==null}"
                onclick="location.href='/user/signup.do'">회원가입
        </button>
        <button type="button" >
            <span onclick="location.href='/user/find_id.do'" STYLE="color: #1edc56">ID</span>/
            <span onclick="location.href='/user/find_pw_security.do'" STYLE="color: #a156ff">PW 찾기</span>
        </button>
    </div>
</form>
<aside id="SE_left-sidebar">

    <input type="checkbox" id="menuicon">
    <label for="menuicon">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <div class="SE_sidebar_profile">
        <img src="/img/profile.gif" alt="userIMG" width="200px"
             height="200px" class="rounded-circle" th:if="${session.loginUser!=null}">
        <ul>
            <li><a th:if="${session.loginUser!=null}" th:text="${session.loginUser.nickname}"></a></li>
            <li><a th:if="${session.loginUser==null}" href="/user/login.do">로그인</a></li>
            <li><a th:if="${session.loginUser!=null}" href="/user/logout.do">로그아웃</a></li>
            <li><a th:if="${session.loginUser==null}" href="/user/signup.do">회원가입</a></li>
            <li><a th:if="${session.loginUser!=null}" href="/user/my_page.do">마이페이지</a></li>
            <li><a href="#">쪽지</a></li>
        </ul>
    </div>

</aside>
