<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/autopedia.css">
</head>
<body>
<div id="container">
    <header>
        <h1>메인이미지</h1>
        <img id="img1" src="/img/solar_embassy_main.png" alt="">
    </header>

    <aside id="left-sidebar">
        <h1>사이드바</h1>
    </aside>
    <section id="contents">
        <div id="content1">
            <div id="btn">
                <span id="autogalaxy"><a href="?">자동차 갤럭시</a></span>
                <span id="autopedia"><a href="?">자동차 백과</a></span>
            </div>
        </div>
        <div id="content2">
            <div id="autobrand">
                <div><a href="#"><img src="/img/autopedia/hyundai.png" alt=""><br>현대</a></div>
                <div><a href="#"><img src="/img/autopedia/kia.png" alt=""><br>기아</a></div>
                <div><a href="#"><img src="/img/autopedia/genesis.jpg" alt=""><br>제네시스</a></div>
                <div><a href="#"><img src="/img/autopedia/Chevrolet.png" alt=""><br>쉐보레</a></div>
                <div><a href="#"><img src="/img/autopedia/ssangyong.png" alt=""><br>쌍용</a></div>
                <div><a href="#"><img src="/img/autopedia/benz.jpg" alt=""><br>벤츠</a></div>
                <div><a href="#"><img src="/img/autopedia/BMW.png" alt=""><br>BMW</a></div>
                <div><a href="#"><img src="/img/autopedia/audi.jpg" alt=""><br>아우디</a></div>
                <div><a href="#"><img src="/img/autopedia/volkswagen.png" alt=""><br>폭스바겐</a></div>
                <div><a href="#"><img src="/img/autopedia/porsche.png" alt=""><br>포르쉐</a></div>
                <div><a href="#"><img src="/img/autopedia/toyota.png" alt=""><br>토요타</a></div>
                <div><a href="#"><img src="/img/autopedia/RS.png" alt=""><br>르노삼성</a></div>
                <div><a href="#"><img src="/img/autopedia/lexus.png" alt=""><br>렉서스</a></div>
                <div><a href="#"><img src="/img/autopedia/nissan.jpg" alt=""><br>닛산</a></div>
                <div><a href="#"><img src="/img/autopedia/infinity.png" alt=""><br>인피니티</a></div>
                <div><a href="#"><img src="/img/autopedia/honda.png" alt=""><br>혼다</a></div>
                <div><a href="#"><img src="/img/autopedia/cadillac.jpg" alt=""><br>캐딜락</a></div>
                <div><a href="#"><img src="/img/autopedia/jeep.png" alt=""><br>지프</a></div>
                <div><a href="#"><img src="/img/autopedia/Ford.jpg" alt=""><br>포드</a></div>
                <div><a href="#"><img src="/img/autopedia/lincoln.png" alt=""><br>링컨</a></div>
                <div><a href="#"><img src="/img/autopedia/TESLA.webp" alt=""><br>테슬라</a></div>
                <div><a href="#"><img src="/img/autopedia/ferrari.png" alt=""><br>페라리</a></div>
                <div><a href="#"><img src="/img/autopedia/LandRover.png" alt=""><br>랜드로버</a></div>
                <div><a href="#"><img src="/img/autopedia/fiat.jpg" alt=""><br>피아트</a></div>
                <div><a href="#"><img src="/img/autopedia/maserati.png" alt=""><br>마세라티</a></div>
                <div><a href="#"><img src="/img/autopedia/volvo.png" alt=""><br>볼보</a></div>
                <div><a href="#"><img src="/img/autopedia/Polestar.png" alt=""><br>폴스타</a></div>
                <div><a href="#"><img src="/img/autopedia/Jaguar.png" alt=""><br>재규어</a></div>
                <div><a href="#"><img src="/img/autopedia/mini.png" alt=""><br>미니</a></div>
                <div><a href="#"><img src="/img/autopedia/Bentley.png" alt=""><br>벤틀리</a></div>
                <div><a href="#"><img src="/img/autopedia/mclaren.svg" alt=""><br>맥라렌</a></div>
                <div><a href="#"><img src="/img/autopedia/lamborghini.png" alt=""><br>람보르기니</a></div>
                <div><a href="#"><img src="/img/autopedia/bugatti.png" alt=""><br>부가티</a></div>
                <div><a href="#"><img src="/img/autopedia/citroen.png" alt=""><br>시트로엥</a></div>
            </div>
        </div>
        <div id="content3"></div>
        <div id="content4">
            <div id="sub1"></div>
            <div id="sub2"></div>
        </div>
        <div id="content5">
            <div id="sub3"></div>
            <div id="sub4"></div>
        </div>
    </section>
    <aside id="right-sidebar">
        <h1> 사이드바</h1>
    </aside>

    <footer>
        <h2> 푸터 </h2>
    </footer>
</div>
</body>
</html>