<!-- xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout}"> -->

<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
  <!--원본 css-->
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/auto_detail.css">
  <title th:text="${auto.getAutoName()}"></title>
</head>
<body>
<div id="SE_container">

  <th:block th:insert="/mainImg"></th:block>
  <div id="SE_topline">
    <!--검색과 로그인 + 왼쪽 사이드-->
    <th:block th:insert="/searchAndLogin"></th:block>
    <!--검색과 로그인 end-->
    <div id="SE_contents" style="z-index:2">
      <!--메뉴 + 오른쪽 사이드-->
      <th:block th:insert="/menuAndAside"></th:block>
      <!--메뉴 end-->
      <th:block th:insert="/galaxy/autoGalaxyNavbar"></th:block>

        <div id="content2">
          <div id="photo">
            <img th:src="${auto.getAutoImgName()}" alt="">
          </div>
          <div id="inform">
            차량 이름 : <span th:text="${auto.getAutoName()}"></span> <br>
            코드명 : <span th:text="${auto.getCodeName()}"></span> <br>
            제조사 : <span th:text="${auto.getComName()}"></span> <br>
            차종 : <span th:text="${auto.getAutoType()}"></span> <br>
            출시일 : <span th:text="${#dates.format(auto.getReleaseDate(),'yyyy-MM-dd')}"></span> <br>
            탑승 인원 : <span th:text="${auto.getSeat()}"></span>인승 <br>
            연비 / 복합전비 : <span th:text="${auto.getMpg()}"></span>km/kWh <br>
            배기량 / 배터리 용량 : <span th:text="${auto.getDisp()}"></span>cc/kWh <br>
            가격 : <span th:text="${auto.getPrice()}"></span>만원 <br>
            차량 엔진 : <span th:text="${auto.getAutoEngine()}"></span> <br>
          </div>
        </div>

        <div id="content3">
          <span><img th:src="${auto.autoImgList.get(0).getAutoImgPath()}" alt=""></span>
          <span><img th:src="${auto.autoImgList.get(1).getAutoImgPath()}" alt=""></span>
          <span><img th:src="${auto.autoImgList.get(2).getAutoImgPath()}" alt=""></span>
          <span><img th:src="${auto.autoImgList.get(3).getAutoImgPath()}" alt=""></span>
        </div>

        <div id="content4">
          <iframe width="1120" height="560" th:src="@{'https://www.youtube.com/embed/{autoVideo}' (autoVideo=${auto.getAutoVideo()})}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <th:block th:insert="/footer"></th:block>
    </div>
  </div>
</div>
</body>
</html>
