<!-- xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout}"> -->

<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
  <!--원본 css-->
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/auto_detail.css">
  <title>자동차 정보</title>
</head>
<body>
<div id="SE_container">
  <header id="SE_header">
    <h6>메인이미지</h6>
    <img id="SE_img1" src="/img/solar_embassy_main.png" alt="" onclick="location.href='/'">
  </header>

  <div id="SE_topline">
    <!--검색과 로그인 + 왼쪽 사이드-->
    <th:block th:insert="/searchAndLogin"></th:block>
    <!--검색과 로그인 end-->
    <div id="SE_contents" style="z-index:2">
      <!--메뉴 + 오른쪽 사이드-->
      <th:block th:insert="/menuAndAside"></th:block>
      <!--메뉴 end-->
        <th:block th:insert="/galaxy/autoGalaxyNavbar"></th:block>

        <div id="content2">
          <div id="photo">
            <img src="/img/autopedia/grandeur.png" alt="">
          </div>
          <div id="inform">
            <h2>차량 정보(*는 최고 기준)</h2> <br>
            차량 이름 : <span th:text="${auto.getAutoName()}"></span> <br>
            코드명 : <span th:text="${auto.getCodeName()}"></span> <br>
            제조사 : <span th:text="${auto.getComName()}"></span> <br>
            차종 : <span th:text="${auto.getAutoType()}"></span> <br>
            출시일 : <span th:text="${#dates.format(auto.getReleaseDate(),'yyyy-MM-dd')}"></span> <br>
            탑승 인원 : <span th:text="${auto.getSeat()}"></span>인승 <br>
            연비* : <span th:text="${auto.getMpg()}"></span>km <br>
            배기량* : <span th:text="${auto.getDisp()}"></span>cc <br>
            가격* : <span th:text="${auto.getPrice()}"></span>만원 <br>
            차량 엔진 : <span th:text="${auto.getAutoEngine()}"></span> <br>
          </div>
        </div>

        <div id="content3">
          <span>
            <a href="#">
              <img src="/img/autopedia/kona1.jpg" alt="">
            </a>
          </span>
          <span>
            <a href="#">
              <img src="/img/autopedia/kona2.jpg" alt="">
            </a>
          </span>
          <span>
            <a href="#">
              <img src="/img/autopedia/kona3.jpg" alt="">
            </a>
          </span>
          <span>
            <a href="#">
              <img src="/img/autopedia/kona4.jpg" alt="">
            </a>
          </span>
        </div>

        <div id="content4">
          <a href=""><img src="/img/autopedia/kona1.jpg" alt=""></a>
        </div>
      <section id="SE_contents2">
        <div id="SE_banner1"><h1>배너자리</h1></div>
      </section>

      <section id="SE_contents3">
        <div id="SE_banner2"><h1>배너자리</h1></div>
      </section>

      <footer id="SE_footer">
        <p>
        </p>
        <h3><a href="#">서비스 소개</a> / <a href="#">이용약관</a> / <a href="#">개인정보 취급방침</a> /<a href="#">비즈니스 문의</a> /
          <a href="#">SNS</a> / <a href="#">이메일</a> /<a href="#">연락처</a></h3>
        <p>
        </p>
        <h3>Copyright (c) <a href="#">www.solarembassy.com</a> All rights reserved.</h3>
      </footer>
    </div>
  </div>
</div>
</body>
</html>
