<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <!--원본 css-->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/find_pw_security.css">
    <title>SOLAR EMBASSY</title>
</head>
<body>
<div id="SE_container">
    <th:block th:insert="/mainImg"></th:block>
    <div id="SE_topline">
        <!--검색과 로그인 + 왼쪽 사이드-->
        <th:block th:insert="/searchAndLogin"></th:block>
        <!--검색과 로그인 end-->
        <div id="SE_contents" style="z-index:2">
            <!--메뉴 + 오른쪽 사이드-->
            <th:block th:insert="/menuAndAside"></th:block>
            <!--메뉴 end-->

            <!--여기부터-->
            <div class="find_pw_security_container">
                <h1 class="find_pw_security_text" style="color: rgb(0, 0, 0);">PW 찾기</h1>
                <div class="find_pw_security_container2">
                    <img src="/img/security.gif">
                    <div class="find_pw_security_content">
                        <p>PW를 찾기 위해 ID를 입력해주세요.</p>
                        <div class="find_pw_security_input">
                            <form action="/user/find_pw.do">
                                <label for="next"></label>
                                <input type="text" name="next" id="next" placeholder=" ID를 입력하세요."><button class="next_btn">다음</button><br>
                            </form>
                        </div>
                    </div>
                    <div class="find_pw_security_content_3">
                        <div class="find_pw_security_content_3-1" ><a href="/user/find_id.do">→ID가 기억이 나지 않는다면?</a></div>
                    </div>
                    <div class="find_pw_security_content_4">
                        <button id="cancel" onclick="location.href='/'">취소</button>
                        <button id="service_center" onclick="location.href='/customer_center'">고객센터</button>
                    </div>
                </div>
            </div>
            <!--여기까지-->
        </div>
    </div>
</div>
</body>
</html>