<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    <!--원본 css-->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/find_id.css">

    <title>SOLAR EMBASSY</title>
</head>
<body>
<div id="SE_container">
    <th:block th:insert="/mainImg"></th:block>

    <div id="SE_topline">
        <!--검색과 로그인 + 왼쪽 사이드-->
        <th:block th:insert="/searchAndLogin"></th:block>
        <!--검색과 로그인 end-->
        <div id="SE_contents" style="z-index:2">
            <!--메뉴 + 오른쪽 사이드-->
            <th:block th:insert="/menuAndAside"></th:block>
            <!--메뉴 end-->


            <div class="find_id_container">
                <p class="find_id_text">ID 찾기</p>
                <div class="find_id_container2">
                    <div class="find_id_content">
                        <h2>ID 찾을 방법을 선택 해 주세요</h2>
                        <div class="find_id_content_2">
                            <div>
                                <input type="radio" id="num1" name="num1" value="num1" checked>
                                <label for="num1"> 회원 정보에 등록한 휴대폰 번호로 인증</label>
                            </div>
                            <p style="font-size: 16px;"> 회원정보에 등록한 휴대폰 번호와 입력한 휴대폰 번호가 같아야, 인증번호를 받으실 수 있습니다.</p>
                            <div class="find_id_input">
                                <form action="" method="POST">
                                    <label for="name">이름</label>
                                    <input type="text" name="name" id="name" value=""><br>

                                    <label for="phone">휴대폰</label>
                                    <input type="text" name="phone" id="phone" value=""><button class="confirm_btn">인증받기</button><br>

                                    <label for="confirm">인증번호</label>
                                    <input type="text" name="confirm" id="confirm" value=""><button class="confirm_btn">인증확인</button><br>

                                    <div class="warning">휴대폰 번호로 전송 된 인증번호 4자리를 입력해주세요.<button class="reconfirm">인증재전송</button></div>
                                    <br>
                                    <a href="/user/find_id_result_phone.do" class="find_IDbtn">ID 찾기</a>
                                </form>
                            </div>
                        </div>
                        <div class="find_id_content_3">
                            <div>
                                <input type="radio" id="num2" name="num1" value="num2">
                                <label for="num2">본인 E-Mail로 인증 [회원가입시 작성된 E-Mail로 전송]</label>
                            </div>
                            <form action="/user/find_id_result_email.do" method="GET"><!-- 이부분 유저 E-Mail for 문 돌려야함 -->
                                <button id="email" class="confirm_btn">E-Mail로 전송</button></label>
                            </form>
                        </div>
                        <div class="find_id_content_4">
                            <button id="cancel" onclick="location.href='/'" style="cursor: pointer">취소</button>
                            <button id="service_center" onclick="location.href='/customer_center'">고객센터</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>