#container{
    width : 1920px;
    margin: 20px auto;
}

header {
    height: 600px;
    background-color: green;
    text-align: center;
}

#img1 {
    width: 1320px;
    height: 500px;
}

#left-sidebar {
    background-color: blue;
    width: 300px;
    height: 2100px;
    float : left;
}

#right-sidebar {
    background-color: red;
    width: 300px;
    height: 2100px;
    float : left;
}

#contents {
    background-color: gold;
    width: 1320px;
    height: 2100px;
    float: left;
    text-align: center;
}

#contents #content1{
    background-color: violet;
    width: 1320px;
    height: 80px;
    margin-top: 40px;
    display: flex;
}

#contents #content1 #btn {
    float: left;
    margin: 30px;
    text-decoration: none;
}

#contents #content1 #btn #main a {
    padding-left: 10px;
    color: #fff;
    text-decoration: none;
}

#contents #content1 #btn #autogalaxy a {
    padding-left: 10px;
    color: #fff;
    text-decoration: none;
}

#contents #content1 #btn #autopedia a {
    padding-left: 30px;
    color: #fff;
    text-decoration: none;
}

#contents #content2{
    background-color: white;
    width: 1320px;
    height: 500px;
    margin-top: 40px;
    font-size: small;
}

#contents #content2 #autobrand {
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
}

#contents #content2 #autobrand div {
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

#contents #content2 #autobrand div a {
    text-decoration: none;
    color: #000;
}

#contents #content2 #autobrand a img {
    width: 30px;
    height: 30px;
}

#contents #content2 #autotype {
    width: 1320px;
}
#contents #content2 #autotype dl{
    display: flex;
}
#contents #content2 #autotype dl dt{
    width: 100px;
}

#contents #content2 #autotype ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    float: left;
}
#contents #content2 #autotype ul li {
    width: 180px;
    justify-items: left;
}

#contents #content3 {
    background-color: aqua;
    width: 1320px;
    height: 100px;
    margin-top: 40px;
}

#contents #content3 form div {
    padding: 25px;
    width: 1320px;
    height: 100px;
    border: 1px solid #000;
}

#contents #content3 #type {
    height: 30px;
    font-size: 11px;
    margin: 0;
}

#contents #content3 #searcher {
    width: 500px;
    height: 30px;
    font-size: 11px;
    margin: 0;
}
#contents #content3 button {
    width: 60px;
    height: 30px;
    font-size: 11px;
    color: white;
    margin: 0;
    background-color: #364959;
}

#contents #content4 {
    height: 560px;
    display: flex;
    margin-top: 40px;
}

#contents #content4 #sub1 {
    background-color: navy;
    width: 660px;
    height: 580px;
    border-radius: 10px;
}

#contents #content4 #sub2 {
    background-color: dodgerblue;
    width: 660px;
    height: 580px;
    border-radius: 10px;
}

#contents #content5 {
    height: 560px;
    display: flex;
    margin-top: 40px;
}

#contents #content5 #sub3 {
    background-color: hotpink;
    width: 660px;
    height: 580px;
    border-radius: 10px;
}

#contents #content5 #sub4 {
    background-color: darkmagenta;
    width: 660px;
    height: 580px;
    border-radius: 10px;
}

footer {
    background-color: yellowgreen;
    height: 300px;
    clear : left;
}