#SE_contents #content2 {
    background-color: white;
    width: 1200px;
    height: max-content;
    font-size: 20px;
    display: flex;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px gray;
}

#SE_contents #content2 #photo {
    float: left;
    margin-left: 100px;
    margin-top: 40px;
}

#SE_contents #content2 #photo img {
    object-fit: contain;
}

#SE_contents #content2 #inform {
    margin-left: 300px;
}

#SE_contents #content2 #inform button {
    border-radius: 10px;
    background: linear-gradient(-45deg, #a156ff, #23a6d5);
    margin-top: 10px;
    width: 350px;
    border-style: none;
}

#SE_contents #content2 #inform button:hover{
    text-decoration-line: blink;
    color: #fff;
    background: linear-gradient(-45deg, #23a6d5, #a156ff);
}

#SE_contents #content3 {
    background-color: skyblue;
    width: 1200px;
    height: max-content;
    box-shadow: 0 0 15px gray;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    border-radius: 15px;
}

#SE_contents #content3 span img {
    width: 535px;
    height: 300px;
    float: left;
    margin: 30px;
    border-radius: 10px;
}
#SE_contents #content4 {
    background-color: dimgray;
    width: 1200px;
    height: max-content;
    box-shadow: 0 0 15px gray;
    display: flex;
    margin-top: 40px;
    padding: 40px;
    border-radius: 10px;
}

#SE_contents2{
    width: 360px;
    height: max-content;
    position: absolute;
    transform: translate(-360px, -1600px);
}

#SE_contents2 div{
    width: 340px;
    height: 900px;
    border-radius: 10px;
    border: 1px solid #000;
    margin: 300px 10px 0 10px;
}

#SE_contents2 div a img {
    width: 340px;
    height: 900px;
    border-radius: 10px;
}

#SE_contents3{
    width: 360px;
    height: max-content;
    position: absolute;
    transform: translate(1200px,-1600px);
}

#SE_contents3 div{
    width:340px;
    height: 900px;
    border-radius: 10px;
    border: 1px solid #000;
    position: absolute;
    margin: 300px 10px 0 10px;
}

#SE_contents3 div a img {
    width: 340px;
    height: 900px;
    border-radius: 10px;
}