#SE_contents #content2 {
    background-color: white;
    width: 1200px;
    height: max-content;
    font-size: 20px;
    display: flex;
    border: 1px solid #000;
}

#SE_contents #content2 #photo {
    float: left;
    margin-left: 100px;
}

#SE_contents #content2 #photo img {
    object-fit: contain;
}

#SE_contents #content2 #inform {
    margin-left: 300px;
}

#SE_contents #content3 {
    background-color: dimgray;
    width: 1200px;
    height: max-content;
    border: 1px solid black;
    display: flex;
    margin-top: 40px;
}

#SE_contents #content3 span a img {
    width: 250px;
    height: 150px;
    object-fit: contain;
    float: left;
    margin: 25px;
}

#SE_contents #content4 {
    background-color: dimgray;
    width: 1200px;
    height: max-content;
    display: flex;
    padding: 40px;
}

#SE_contents #content4 span a img {
    object-fit: contain;
}
