/* ID찾기 제목 영역 */
.find_id_container{
    background: #78b7eac4;
    border-radius: 15px;
    position: relative;
    transform: translate(0, -100%);
}

/* 제목 텍스트 설정 */
.find_id_container>p{
    font: 30px/70px'';
    font-weight: bold;
    margin-left: 20px;
}

/*찾기 폼 전체 영역*/
.find_id_container2{
    background: #e6e9f8;
    border-radius: 15px;
    margin-left:50px;
    margin-right:50px;
    margin-top: 40px;
    padding: 10px 0 0 30px;
    height: 920px;
    font-size:15px;
}

/* ID 찾기의 전체영역*/
.find_id_content{
    margin-top:20px;
    margin-right: 30px;
    font-size: 20px;
}

/*회원 정보에 등록한 휴대전화로 인증 전체 영역*/
.find_id_content_2{
    background-color: #fff;
    margin-top:20px;
    padding-top: 25px;
    height: 450px;
    border-radius: 15px;
}

/*input radio 버튼1*/
.find_id_content_2>div>input{
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

/*회원 정보에 등록한 휴대전화로 인증 텍스트*/
.find_id_content_2 span{
    margin-left:20px;
}

/* 회원정보에 등록한 ~ 있습니다. 텍스트*/
.find_id_content_2 p{
    margin-left:34px;
}

/* 내용 입력 폼 */
.find_id_input{
    margin-top: 15px;
    margin-left:64px;
    font-size: 20px;
}

/*이름,휴대폰,인증번호 input*/
.find_id_input>form>label{
    text-align: right;
    margin-left:40px;
}
/*이름*/
.find_id_input>form #name{
    margin-left:40px;
}
/*휴대폰*/
.find_id_input>form #phone{
    margin-left:20px;
}

/*텍스트 input 공통 설정*/
.find_id_input input  {
    margin-top: 20px;
    margin-right: 15px;
    width: 250px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 1px #888;
}

/*인증번호 input*/
.find_id_input input#confirm  {
    margin-bottom: 20px;
}

/*인증 버튼*/
.confirm_btn{
    background-color: #325dff;
    color:#ffff;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
}

/*휴대폰 번호로 전송 된 ~ 입력해주세요 text*/
.warning{
    font-size: 18px;
    font-weight: bold;
    color: #6abe82;
    position: absolute;
    left:140px;
}

/* 인증재전송 버튼*/
.reconfirm{
    width: 130px;
    height: 40px;
    color: #fff;
    margin-left: 15px;
    background: #325dff;
    border-style: none;
    border-radius: 5px;
}

/*ID찾기 버튼*/
.find_IDbtn{
    color:#ffff;
    width: 150px;
    height: 45px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    transform: translate(350px,35px);
    background: linear-gradient(-45deg, #23a6d5, #a156ff);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* E-Mail로 찾기 영역*/
.find_id_content_3{
    background-color: #fff;
    height: 80px;
    border-radius: 15px;
    margin-top: 25px;
    padding-top: 25px;
}

/*input radio 버튼2*/
.find_id_content_3>div>input{
    width: 15px;
    height: 15px;
    margin-left: 15px;
}

/*본인 E-Mail로 인증 [회원가입시 작성된 이메일로 전송]*/
.find_id_content_3> div{
    font-size: 20px;
    font-weight: bold;
}

/* E-Mail로 전송 버튼*/
#email{
    margin-left: 5px;
    width: 140px;
    height: 40px;
    border-style: none;
    background: #325dff;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color:#fff;
    position: absolute;
    transform: translate(550px,-40px);
}

/* 버튼들 영역 */
.find_id_content_4{
    margin-top: 60px;
    text-align: center;

}

/*취소 버튼*/
.find_id_content_4 #cancel{
    background-color: #9b9b9b;
    color:#ffff;
    width: 150px;
    height: 45px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    margin-right: 25px;
}

/*고객센터 버튼*/
.find_id_content_4 #service_center{
    background-color: #A084DC;
    color:#ffff;
    width: 150px;
    height: 45px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    margin-left: 25px;
}