a{text-decoration: none;}

/* PW찾기 제목 영역 */
.find_pw_security_container{
    background-color: #5292f6;
    box-shadow: 0 4px 0 0 #565c93;
    border-radius:0 0 15px 15px;
    font-size: 40px;
    height: 100px;
    position: relative;
    transform: translate(0, -100%);
}



/* PW 찾기 text*/
.find_pw_security_text{
    font: 30px/70px'';
    font-weight: bold;
    margin-left: 20px;
}

/* PW찾기 영역*/
.find_pw_security_container2{
    background: #e7e7e7;
    border-radius: 15px;
    margin-left:50px;
    margin-right:50px;
    margin-top: 40px;
    padding: 10px 0 0 30px;
    height: 920px;
    font-size:15px;
}


/*삽입 이미지 설정*/
.find_pw_security_container2>img{
    transform: translate(70%, 5%);
    width: 450px;
    opacity: 0.7;
    box-shadow: 1px 1px 15px #cfdeff;
    border-radius: 15px;
}


/*PW를 ~해주세요. 입력 관련 영역*/
.find_pw_security_content{
    margin: 80px 0 50px 0;
    text-align: center;
    font-size: 30px;
}

/* input과 버튼 영역*/
.find_pw_security_input{
    margin-top: 30px;
    margin-left: 25px;
    font-size: 20px;
}

/* ID를 입력하세요. input */
.find_pw_security_input input  {
    color:#66666671;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 15px;
    width: 300px;
    height: 60px;
    border-style: none;
    box-shadow: 0px 4px 4px #0000003F;
    border-radius: 5px;
}

/* 다음 버튼 */
.next_btn{
    width: 100px;
    height: 60px;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #a5a5a5;
    background: linear-gradient(-45deg, #23a6d5, #a156ff);
    animation: gradient 3s ease infinite;
    transform: translate(0,-2px);
}

@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}

/* ID가 기억나지 않는다면? */
.find_pw_security_content_3{
    margin: 0 auto;
    text-align: center;
    width: 220px;
    transform: translate(-80px,-40px);
}
.find_pw_security_content_3-1>a{
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.find_pw_security_content_3-1>a:hover{
    font-weight: bold;
    font-size: 16px;
    color: #6abe82;
}

/*버튼 영역*/
.find_pw_security_content_4{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/*취소 버튼*/
.find_pw_security_content_4 #cancel{
    width: 100px;
    height: 60px;
    background-color: #BF7AF6;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #a5a5a5;
    margin-right: 50px;

}/*고객센터 버튼*/
.find_pw_security_content_4 #service_center{
    width: 100px;
    height: 60px;
    background-color: #83aeff;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #a5a5a5;
    margin-right: 50px;
}
