#container{
    width : 1920px;
    margin : 20px auto ;
}

header {
    height: 600px;
    background-color: green;
    text-align: center;
}

#img1 {
    width: 1320px;
    height: 500px;
}

#img2 {
    height: 100%;
    width: 100%;
}

#left-sidebar {
    background-color: blue;
    width: 300px;
    height: 2100px;
    float : left;
}

#contents {
    background-color: gold;
    width: 1320px;
    height: 2100px;
    float : left;
}

#contents #content1{
    background-color: gray;
    height: 100px;

}

#contents #content2 {
    background-color: purple;
    height: 330px;
    text-align: center;
}

#contents #content3 {
    background-color: navy;
    height: 400px;
    display: flex;

}

#contents #content3 #sub1 {
    background-color: skyblue;
    height: 400px;
    width: 850px;
}

#contents #content3 #sub2 {
    background-color: brown;
    height: 400px;
    width: 470px;
}

#contents #content4 {
    background: #121212;
    height: 600px;
    display: flex;

}

#contents #content4 #sub3 {
    background-color: indigo;
    width: 660px;
    height: 600px;
}

#contents #content4 #sub4 {
    background-color: pink;
    height: 600px;
    width: 660px;
}

#contents #content5 {
    height: 600px;
    width: 1320px;
    display: flex;
}

#contents #content5 #sub5 {
    background-color: pink;
    width: 660px;
    height: 600px;
}

#contents #content5 #sub6 {
    background-color: indigo;
    height: 600px;
    width: 660px;
}

#right-sidebar {
    background-color: red;
    width: 300px;
    height: 2100px;
    float : left;
}

footer {
    background-color: yellowgreen;
    height: 300px;
    clear : left;
}