html, body {
    background-color: #5B8FB9;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#container { /*메인 컨테이너*/
    /* background-color: black; */
    width: 1920px;
    margin: 0 auto;
}

header { /*헤더*/
    /* width: 100%; */
    height: 415px;
    background-color: black;
    text-align: center;
    position: relative;

}

header > #login_btn {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.50);
    right: 0;
    bottom: 0;
}
header > #login_btn>a {
    text-align: center;
    padding: 10px;
    width: 300px;
    height: 100px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}


#img1 { /*메인 이미지*/
    width: 1200px;
    height: 355px;
}

#img2 { /*컨텐츠 이미지*/
    height: 100%;
    width: 100%;
}

#left-sidebar { /*좌측 사이드바*/
    background-color: #5164AA;
    width: 360px;
    height: 77px;
    float: left;
}

#contents { /*메인 컨테이너*/
    background-color: #5B8FB9;
    width: 1200px;
    height: 100%;
    float: left;
}

#contents #content1 { /*NAV BAR 메인 메뉴*/
    background-color: #BF7AF6;
    width: 1200px;
    height: 77px;
}
#contents #content1 .nav_container>ul{ /*NAV BAR 메인 메뉴*/
    background-color: #BF7AF6;
    width: 100%;
    list-style: none;
}
#contents #content1 .nav_container>ul>li{ /*NAV BAR 메인 메뉴*/
    float: left;
    width: 150px;
    padding: 0 10px;
    height: 100%;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contents #content1 .nav_container>ul>li>h3>a{ /*NAV BAR 메인 메뉴*/
    height: 77px;
    line-height: 100%;
    text-decoration: none;
    color: white;
}

#contents #content2 { /*컨텐츠 이미지가 삽입되는 구역*/
    background-color: purple;
    width: 1200px;
    height: 270px;
    display: flex;
    position: relative;
}
#contents #content2>a { /*컨텐츠 이미지가 삽입되는 구역*/
    background-color: rgba(255, 255, 255, 0.5);
    width: max-content;
    height: max-content;
    position: absolute;
    left: 25px;
    top: 75px;
}


#contents #content3 { /*인기 플래닛 표시구역*/
    background-color: #5B8FB9;
    width: 1200px;
    height: 280px;
    display: flex;
}

#contents #content3 #sub1 { /*최근 생성된 플래닛 구역*/
    background-color: #A3C7D6;
    height: 260px;
    width: 760px;
    margin-top: 10px;
    border-radius: 5px;
}

#contents #content3 #sub2 { /*분류별 플래닛*/
    background-color: #A3C7D6;
    height: 260px;
    width: 420px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

#contents #content4 { /*표시 플래닛 1,2의 구역*/
    background: #5B8FB9;
    height: 355px;
    display: flex;
    border-radius: 5px;

}

#contents #content4 #sub3 { /*플래닛1*/
    background-color: #A6DFFF;
    width: 590px;
    height: 330px;
    margin-top: 10px;
    border-radius: 5px;
}

#contents #content4 #sub4 { /*플래닛2*/
    background-color: #A6DFFF;
    width: 590px;
    height: 330px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

#contents #content5 { /*표시 플래닛 3, 4의 구역*/
    height: 360px;
    width: 100%;
    display: flex;
    border-radius: 5px;
}

#contents #content5 #sub5 { /*플래닛3*/
    background-color: #A6DFFF;
    width: 590px;
    height: 330px;
    margin-top: 10px;
    border-radius: 5px;
}

#contents #content5 #sub6 { /*플래닛5*/
    background-color: #A6DFFF;
    width: 590px;
    height: 330px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
}

#contents #content6 { /*표시 플래닛 5의 구역*/
    height: 360px;
    width: 100%;
    display: flex;
    border-radius: 5px;
}

#contents #content6 #sub7 { /*플래닛 5*/
    background-color: #A6DFFF;
    width: 1200px;
    height: 330px;
    margin-top: 10px;
}

#contents #content7 { /*표시 플래닛 6의 구역*/
    height: 360px;
    width: 100%;
    display: flex;
    border-radius: 5px;
}

#contents #content7 #sub8 { /*플래닛 6*/
    background-color: #A6DFFF;
    width: 1200px;
    height: 330px;
    margin-top: 10px;
}


#right-sidebar {
    background-color: #5164AA;
    width: 360px;
    height: 77px;
    float: left;
}

#searchs { /*검색창의 공간*/
    width: 1920px;
    height: 30px;
    /* background-color: lightcoral; */
    position: absolute;
}

#search-bar { /*검색입력 칸*/
    width: 260px;
    height: 30px;
    font-size: 11px;
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate(-64%, -110%);
    border-radius: 5px;
}

#btn { /*검색 버튼*/
    width: 40px;
    height: 30px;
    font-size: 11px;
    position: absolute;
    margin: 0;
    left: 56%;
    float: left;
    transform: translate(-55%, -110%);
    border-radius: 5px;
}

#footer { /*footer 영역*/
    background-color: Black;
    width: 1920px;
    height: 120px;
    clear: left;
    position: absolute;
    text-align: center;
    transform: translate(0%, 1720%);
    display: block;
}
