#my_page {
    /*마이 페이지*/
    background-color: #C3C0EB;
    width: 100%;
    height: 90%;
    display: flex;
}

#my_page_btn {
    /*  마이페이지 버튼  */
    width: 15%;

}

#my_page_table {
    margin-left: 60px;
    margin-top: 20px;
    width: 75%;

}