#user_info { /*유저 정보 칸*/
    background-color: #C3C0EB;
    display: inline-block;
    width: 100%;
    height: 100%;

}

#user_info_btn { /*유저 정보 버튼 칸*/
    width: 100%;
    display: flex;
    position: relative;
    border-bottom: 3px solid #663399;
}

#user_info_btn1 { /*유저 정보 버튼*/
    margin-bottom: 20px;
    margin-left: 10px;
}

#user_info_btn2 { /*유저 차단 버튼*/
    margin-left: 20px;
}

#user_info_btn3 { /*회원 탈퇴 버튼*/
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-160%, -70%);
}

#user_info_bgc1 {
    margin-left: 31%;
    margin-top: 200px;
    background-color: #2B2851;
    width: 40%;
    height: 12%;
    border-radius: 10px;
    position: relative;
}

#user_info_bgc2 {
    background-color: lightgray;
    width: 97%;
    height: 94%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#pw_check{
    text-align: center;
    margin: 50px auto 0;

    width: 78%;
    height: 50%;

}