/*제목 영역*/
#content1_signup {
    text-align: center;
    border-radius: 0 0  10px 10px;
    float: left;
    position: relative;
    background-color:#83aeff;
    width: 100%;
    transform: translate(0,-101%);
    box-shadow: 0 0 10px 0 #a5a5a5;
}

/*제목폰트*/
#SE_title>p{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
}

/*가입 폼 영역*/
#SE_signupAria{
    margin: 0 auto;
    width: 800px;
    height: max-content;
    background-color: #fff;
    padding: 10px 70px 10px 0;
    transform: translate(0,5%);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #a5a5a5;
}

/*각 정보 입력 영역 */
.title_container {
    margin:0 auto;
    padding: 10px;
    text-align: left;
    margin: 10px 10px 20px 10%;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #d9d9d9;
}

/*(공통)입력 칸 */
.title_container input {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border:none;
    box-shadow: 0 0 5px #417cef;
    padding-left: 15px;
    font-size: 15px ;
    margin : 10px 30px 10px 0;
}


/*(공통)중복확인 버튼 */
.title_container button {
    background-color: #0a53be;
    color:#fff;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}


/*비즈니스 전용 입력 영역*/
.title_containerB{
    margin:0 auto;
    padding: 10px;
    text-align: left;
    margin: 10px 10px 20px 10%;
    width: 90%;
    border-radius: 5px;
    border: 2px solid #d9d9d9;
}

/*비즈니스 가입폼(전용) 영역*/
#SE_signupAriaB{
    margin: 0 auto;
    width: 800px;
    height: 1630px;
    background-color: #fff;
    padding: 10px 70px 10px 0;
    transform: translate(0,5%);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #a5a5a5;
}

/*비즈니스 전용 입력 칸 */
.title_containerB input{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border:none;
    box-shadow: 0 0 5px #417cef;
    padding-left: 15px;
    font-size: 15px ;
    margin : 10px 30px 10px 0;
}

/*비즈니스 전용 중복확인 버튼 */
.title_containerB button {
    background-color: #0a53be;
    color:#fff;
    width: 100px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

/*하단 버튼 영역*/
#buttons {
    margin-top: 100px;
}

/*가입하기 버튼*/
#next {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #83aeff;
    border: none;
    margin-right: 50px;
    box-shadow: 2px 2px 2px 2px #a5a5a5;
}

/*취소 버튼*/
#cancel {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #dc3545;
    background-color: #FF69B4AD;
    border: none;
    box-shadow: 2px 2px 2px 2px #a5a5a5;
}