.modifycontainer { /* 회원 탈퇴 관리 페이지 */
    height: 800px;
    background: #cf95ff;
    border: 1px solid rgb(255, 255, 255);
}

.account-withdrawal { /* 회원 탈퇴 text */
    margin-top: 20px;
    margin-left: 10px;
}

.a-warning { /* 회원 탈퇴전 경고문 a는 account 약자입니다*/
    margin-top: 15px;
    padding-left: 38px;
    height: 200px;
    font-size: 15px;
}

.auh { /* 탈퇴전 이유와 희망사항 인풋 창 start*/
    border: 1px solid #ffffff;
}

.auh-t {
    margin-top: 20px;
    margin-bottom: 20px;
}

.a-user-hope {
    height: 300px;
    margin-left: 15px;
}

.a-user-hope2 {
    position: absolute;
    bottom: 30%;
    left: 50%;
}

.a-user-hope3 {
    margin-top: 15px;
    width: 500px;
    border: 1px solid #000;
    height: 150px;
    background: #ffffff;
    border-radius: 15px;
}

.a-user-hope3-1 {
    margin-top: 5px;
    margin-left: 5px;
    border-style: none;
    width: 300px;
}

.a-user-hope4 { /* 탈퇴전 이유와 희망사항 인풋 창 end*/
    margin-top: 15px;
    text-align: end;
}

.a-agree { /* 탈퇴동의 start */
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    color: #ffffff;
    text-align: center;
}

.a-btn {
    margin-top: 10px;
    text-align: center;
}

.a-confirm {
    position: absolute;
    left: 43%;
    width: 100px;
    height: 35px;
    box-shadow: inset -4px -5px 4px rgba(0, 0, 0, 0.25);
}

.a-cancell { /* 탈퇴동의 end */
    position: absolute;
    left: 52%;
    width: 100px;
    height: 35px;
    box-shadow: inset -4px -5px 4px rgba(0, 0, 0, 0.25);
}
