.modifycontainer { /* 회원 탈퇴 관리 페이지 */
    height: 800px;
    background: #cf95ff;
    position: relative;
    transform: translate(0, -90px);
}

.account-withdrawal { /* 회원 탈퇴 text */
    margin-left: 10px;
    margin-top: 20px;
}

.a-warning { /* 회원 탈퇴전 경고문 a는 account 약자입니다*/
    background-color: #fff;
    padding-left: 38px;
    width: 1100px;
    height: 250px;
    font-size: 15px;
    box-shadow: 0 0 15px #0c4363;
    border-radius: 15px;
    position: relative;
    transform: translate(50px, 60px);
}

.auh { /* 탈퇴전 이유와 희망사항 인풋 창 start*/
    transform: translate(50px, 60px);

}

.auh-t {
    margin-top: 20px;
    margin-bottom: 20px;
}

.a-user-hope {
    height: 300px;
    margin-left: 15px;
    border-collapse: collapse;
}

.a-user-hope2 {
    position: absolute;
    bottom: 30%;
    left: 50%;
}

.a-user-hope3 {
    margin-top: 15px;
    width: 500px;
    box-shadow: 0 0 15px #0c4363;
    height: 150px;
    background: #ffffff;
    border-radius: 15px;
}

/*사이트 빈도수가 낮아서 탈퇴*/
.a-user-hope3-1 {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 5px;
    border-style: none;
    width: 300px;
}

.a-user-hope4 { /* 탈퇴전 이유와 희망사항 인풋 창 end*/
    margin-top: 15px;
    text-align: end;
}

.a-agree { /* 탈퇴동의 start */
    margin-top: 10px;
    font-family: 'Inter', serif;
    font-style: normal;
    color: #000000;
    text-align: center;
}

.a-btn {
    margin-top: 10px;
    text-align: center;
}

.a-confirm {
    position: absolute;
    left: 43%;
    width: 100px;
    height: 35px;
    box-shadow: inset -4px -5px 4px rgba(0, 0, 0, 0.25);
}

.a-cancel { /* 탈퇴동의 end */
    position: absolute;
    left: 52%;
    width: 100px;
    height: 35px;
    box-shadow: inset -4px -5px 4px rgba(0, 0, 0, 0.25);
}