<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    #reply_comment {
        background-color: #F0FFFF;
        border-bottom: 1px solid #D3D3D3;
    }

    #reply_reply_comment {
        border-top: 1px solid #D3D3D3;
    }

</style>
<th:block th:if="${replyList!=null}" th:each="reply:${replyList}">
    <div th:id="'replyContainer'+${reply.replyNo}">
        <th:block th:if="${reply.contents!=null}">
            <div class="px-3 pt-3 pb-3">
                <img th:src="${reply.user.grade.gradeImg.imgPath}+${reply.user.grade.gradeImg.originImgName}"
                        style="width: 16px;height: 16px;">
                <span th:text="${reply.user.nickname}+${(reply.userId==board.userId)?' (작성자)':''}"></span>
                <span th:text="${#dates.format(reply.postTime,'(yyyy-MM-dd hh:mm)')}"></span>
                <span th:if="${session.loginUser!=null && reply.userId==session.loginUser.userId}"><a href="javascript:void(0)"
                                                                           class="d-inline text-black"
                                                                           th:onclick="removeReply([[${reply.replyNo}]])">
                <i class="bi bi-x-square"></i></a></span>
                <span>
                <button type="button" class="btn btn-primary btn-sm float-end "><i
                        class="bi bi-hand-thumbs-down"></i><span> 0</span></button>
                <button type="button" class="btn btn-danger btn-sm float-end me-1"><i class="bi bi-hand-thumbs-up"></i> <span> 3</span></button>
            </span>
            </div>
            <div id="reply_content" class="px-3">
                <p th:text="${reply.contents}"></p>
            </div>
            <!--댓글리스트 end-->
            <div class="text-end me-3 mb-2">
                <a class="text-black" th:if="${session.loginUser!=null&&session.loginUser.userId==reply.userId}"
                   style="display: inline;"
                   href="javascript:void(0)"
                   th:onclick="loadReplyModifyForm([[${reply.replyNo}]])">수정 |</a>
                <a class="text-black" style="display: inline;" href="javascript:void(0)"
                   th:onclick="loadRegisterForm( [[${reply.replyNo}]] )"> 댓글</a>
            </div>
        </th:block>
        <th:block th:if="${reply.contents==null}">
            <div class="px-3 pt-3 pb-3">
                <span th:text="${#dates.format(reply.postTime,'(yyyy-MM-dd hh:mm)')}"></span>
                <span>
            </span>
            </div>
            <div id="blank_reply_content" class="px-3">
                <p>삭제된 댓글입니다.</p>
            </div>
        </th:block>

        <!--대댓글 등록(1)-->
        <div th:if="${session.loginUser!=null}" th:id="'reReplyRegisterContainer'+${reply.replyNo}"
             style="margin-left: 20px;"></div>
        <!--대댓글 등록(1) end-->

        <!--        대댓글 리스트-->
        <div id="reply_reply_comment">
            <div th:if="${reply.reReplyList!=null}" th:each="reReply:${reply.reReplyList}">
                <div class="px-3 pt-3 pb-2">
                                        <span>
                                            <i class="bi bi-arrow-return-right fs-1"></i>
                                        </span>
                    <img th:src="${reReply.user.grade.gradeImg.imgPath}+${reReply.user.grade.gradeImg.originImgName}"
                         style="width: 16px;height: 16px;"> <span
                          th:text="${reReply.user.nickname}+${(reReply.userId==board.userId)?' (작성자)':''}"> </span>
                    <span th:text="${#dates.format(reReply.postTime,'(yyyy-MM-dd hh:mm)')}"></span>
                    <span th:if="${session.loginUser!=null&&session.loginUser.userId==reReply.userId}"><a href="javascript:void(0)" class="d-inline text-black"
                             th:onclick="removeReply([[${reReply.replyNo}]])">
                            <i class="bi bi-x-square"></i></a></span>
                    <span>
                                        <button type="button" class="btn btn-primary btn-sm float-end "><i
                                                class="bi bi-hand-thumbs-down"></i><span> 0</span></button>
                                        <button type="button" class="btn btn-danger btn-sm float-end me-1"><i
                                                class="bi bi-hand-thumbs-up"></i> <span> 3</span></button>
                                        </span>
                </div>

                <div id="reply_reply_content" class="px-3" style="margin-left: 43px">
                    <p th:text="${reReply.contents}"></p>
                </div>

                <div class="text-end me-3" style="border-bottom: 1px solid #D3D3D3;">
                    <a class="text-black" th:if="${session.loginUser!=null&&session.loginUser.userId==reReply.userId}" style="display: inline;"
                       href="javascript:void(0)"
                       th:onclick="loadReplyModifyForm([[${reReply.replyNo}]])">수정</a>
                </div>
            </div>
        </div>
        <!--        대댓글 리스트 end-->

    </div>
</th:block>

</html>