<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/login.css">


  <style>

    .sns_login_btn {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
    }


  </style>

</head>
<body>
<div class="bg"></div>
<div class="star-field">
  <div class="layer"></div>
  <div class="layer"></div>
  <div class="layer"></div>
</div>
<div id="logo">
  <a href="/">
    <img src="/img/Solar-Embassy_No_1.png" alt="">
  </a>
</div>
<form class="login">

  <h1>LOGIN</h1>

  <span></span>
  <input type="text" placeholder="ID" name="userId">
  <span></span>
  <input type="password" placeholder="PASSWORD" name="passwords">

  <button class="btn" type="submit" formmethod="POST">로그인</button>
  <button class="btn2" type="button" onclick="location.href='/'">취  소</button>

  <div class="sns_login_btn">
    <a href="https://www.kakaocorp.com/page/service/service/KakaoTalk"><img src="/img/sns_login_btn_1.png" alt="kko"></a>
    <a href="https://www.naver.com"><img src="/img/sns_login_btn_2.png" alt="naver"></a>
    <a href="https://www.facebook.com"><img src="/img/sns_login_btn_3.png" alt="fb"></a>
    <a href="https://www.apple.com"><img src="/img/sns_login_btn_4.png" alt="apple"></a>
    <a href="https://google.com"><img src="/img/sns_login_btn_5.png" alt="gg"></a>

  </div>
  <p>
    <label>
      <input type="checkbox"> 자동 로그인
    </label>

    <a href="/customer_center"> 고객센터 </a>
    <a href="/user/find_pw_security.do"> 비밀번호찾기 | </a>
    <a href="/user/signup.do"> 회원가입 | </a>
  </p>

</form>


</body>
</html>