<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="bg"></div>
<div class="star-field">
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
</div>
<div id="logo">
    <a href="/">
        <img src="/img/solar_embassy_logo.png" alt="">
    </a>
</div>
<form class="login">
    <span>Email</span>
    <input type="email" placeholder="Email Address">
    <span>Password</span>
    <input type="password" placeholder="Password">
    <p>
        <label>
            <input type="checkbox"> Keep me Logged in
        </label>
        <a href="">Forgot Your Password</a>
    </p>

    <button class="btn">Log in</button>
</form>


</body>
</html>