<!-- xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{/layout}"> -->

<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <!--원본 css-->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/user_info_add.css">
    <title>SOLAR EMBASSY</title>
</head>
<body>
<div id="SE_container">
    <th:block th:insert="/mainImg"></th:block>
    <div id="SE_topline">
        <!--검색과 로그인 + 왼쪽 사이드-->
        <th:block th:insert="/searchAndLogin"></th:block>
        <!--검색과 로그인 end-->
        <div id="SE_contents" style="z-index:2">
            <!--메뉴 + 오른쪽 사이드-->
            <th:block th:insert="/menuAndAside"></th:block>
            <!--메뉴 end-->
                
                <!-- 여기부터 user_delete start-->
                <div class="user_info_add_container">
                    <h1> 회원정보 부가기능 추가 수정 삭제 페이지 </h1>
                    <div class="user_info_add_content1">
                        <div class="user_info_add_content1-1">
                            추가 정보 등록이 필요하거나 수정, 삭제가 필요한 부분을 입력하실수 있습니다.
                            <div class="user_info_add_content1-2">
                                <form action="" method="POST">
                                    
                                    <label for="">프로필 사진
                                        <div class="user_info_add_content1-3">
                                            <input style="margin-left: 0px;" type="submit" value="업로드 image">
                                            <div class="justspace"></div>
                                            <button>수정적용</button>
                                            <button id="justdecorate2">추가</button>
                                            <button id="justdecorate">삭제</button>
                                        </div>
                                    </label>

                                    <label for="">생일
                                        <div class="user_info_add_content1-3">
                                            <input type="text">
                                            <div class="justspace"></div>
                                            <button>중복확인</button>
                                            <button>수정적용</button>
                                            <button id="justdecorate">삭제</button>
                                        </div>
                                    </label>

                                    <label for="">성별
                                        <div class="user_info_add_content1-4">
                                            <input type="text">
                                            <div class="justspace"></div>
                                            <button>중복확인</button>
                                            <button>수정적용</button>
                                            <button id="justdecorate">삭제</button>
                                        </div>
                                    </label>

                                    <label for="">주소
                                        <div class="user_info_add_content1-3">
                                            <input type="text">
                                            <div class="justspace"></div>
                                            <button>수정적용</button>
                                            <button id="justdecorate">삭제</button>
                                        </div>
                                    </label>

                                    <label for="">대표자 성명
                                        <div class="user_info_add_content1-3">
                                            <input type="text">
                                            <div class="justspace"></div>
                                            <button>수정적용</button>
                                            <button id="justdecorate">삭제</button>
                                        </div>
                                    </label>

                                    <label for="">업체 명
                                        <div class="user_info_add_content1-3">
                                            <input type="text">
                                            <div class="justspace"></div>
                                            <button>수정적용</button>
                                            <button id="justdecorate">삭제</button>
                                        </div>
                                    </label>

                                    <label for="">업체 주소
                                        <div class="user_info_add_content1-3">
                                            <input type="text">
                                            <div class="justspace"></div>
                                            <button>수정적용</button>
                                            <button id="justdecorate">삭제</button>
                                        </div>
                                    </label>

                                    <label for="">사업자 번호
                                        <div class="user_info_add_content1-3">
                                            <input type="text">
                                            <div class="justspace"></div>
                                            <button>수정적용</button>
                                            <button id="justdecorate">삭제</button>
                                        </div>
                                    </label>
                                    
                                    <div class="user_info_add_last">
                                        <button>저장</button>
                                        <div class="justspace2"></div>
                                        <button>이전페이지로</button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 여기까지 user_delete end-->


            </div>
            <section id="SE_contents2">
                <div id="SE_banner1"><h1>배너자리</h1></div>
            </section>

            <section id="SE_contents3">
                <div id="SE_banner2"><h1>배너자리</h1></div>
            </section>
            <footer id="SE_footer">
                <p>
                </p>
                <p><h3> <a href="#">서비스 소개</a> / <a href="#">이용약관</a> / <a href="#">개인정보 취급방침</a> /<a href="#">비즈니스 문의</a> / <a href="#">SNS</a> / <a href="#">이메일</a> /<a href="#">연락처</a></h3></p>
                <p><h3>Copyright (c) <a href="#">www.solarembassy.com</a> All rights reserved.</h3></p>
            </footer>

        </div>
    </div>
</body>
</html>
