<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

    <!--원본 css-->
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/signup.css">
    <title>SOLAR EMBASSY</title>
</head>
<body>
<div id="SE_container">
    <th:block th:insert="/mainImg"></th:block>

    <div id="SE_topline">
        <!--검색과 로그인 + 왼쪽 사이드-->
        <th:block th:insert="/searchAndLogin"></th:block>
        <!--검색과 로그인 end-->
        <div id="SE_contents" style="z-index:2">
            <!--메뉴 + 오른쪽 사이드-->
            <th:block th:insert="/menuAndAside"></th:block>
            <!--메뉴 end-->

            <!--여기부터-->
            <section id="signup_main">
                <div id="signup_title">서비스 회원가입</div>
                <div id="signup_intro">
                    <div class="SE_rules" style="overflow-x:hidden">
                        <h1>SOLAR EMBASSY 서비스 이용약관</h1><br>
                        <p style="text-indent:20px">제 1 장 총 칙</p>
                        <p style="text-indent:30px">제 1 조 (목적)</p>
                        <p style="text-indent:40px">이 약관은 {SOLAR EMBASSY}(이하 "사이트"라 합니다)에서 제공하는 인터넷 서비스(이하 "서비스"라 합니다)의
                        <p style="text-indent:40px">이용 조건 및 절차에 관한 기본적인 사항을 규정함을 목적으로 합니다.</p>
                        <br>
                        <p style="text-indent:30px"> 제 2 조 (약관의 효력 및 변경)</p>
                        <p style="text-indent:40px">① 이 약관은 서비스 화면이나 기타의 방법으로 이용고객에게 공지함으로써 효력을 발생합니다.</p>
                        <p style="text-indent:40px">② 사이트는 이 약관의 내용을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 공지 또는 통지함으로써 효력을
                            발생합니다.</p>
                        <br>
                        <p style="text-indent:30px">제 3 조 (용어의 정의)</p>
                        <p style="text-indent:40px">이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br>
                        <p style="text-indent:40px">① 회원 : 사이트와 서비스 이용계약을 체결하거나 이용자 아이디(ID)를 부여받은 개인 또는 단체를 말합니다.<br>
                        <p style="text-indent:40px">② 신청자 : 회원가입을 신청하는 개인 또는 단체를 말합니다.<br>
                        <p style="text-indent:40px">③ 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 정하고 사이트가 승인하는 문자와 숫자의 조합을
                            말합니다.<br>
                        <p style="text-indent:40px">④ 비밀번호 : 회원이 부여 받은 아이디(ID)와 일치된 회원임을 확인하고, 회원 자신의 비밀을 보호하기 위하여 회원이
                            정한 문자와 숫자의 조합을 말합니다.<br>
                        <p style="text-indent:40px">⑤ 해지 : 사이트 또는 회원이 서비스 이용계약을 취소하는 것을 말합니다.<br>
                            <br>

                        <p style="text-indent:20px">제 2 장 서비스 이용계약</p>
                        <p style="text-indent:30px">제 4 조 (이용계약의 성립)</p>
                        <p style="text-indent:40px">① 이용약관 하단의 동의 버튼을 누르면 이 약관에 동의하는 것으로 간주됩니다.</p>
                        <p style="text-indent:40px">② 이용계약은 서비스 이용희망자의 이용약관 동의 후 이용 신청에 대하여 사이트가 승낙함으로써 성립합니다.</p>
                        <br>

                        <p style="text-indent:30px">제 5 조 (이용신청)</p>
                        <p style="text-indent:40px">① 신청자가 본 서비스를 이용하기 위해서는 사이트 소정의 가입신청 양식에서 요구하는 이용자 정보를 기록하여 제출해야
                            합니다.</p>
                        <p style="text-indent:40px">② 가입신청 양식에 기재하는 모든 이용자 정보는 모두 실제 데이터인 것으로 간주됩니다. <br>
                        <p style="text-indent:58px">실명이나 실제 정보를 입력하지 않은 사용자는 법적인 보호를 받을 수 없으며, 서비스의 제한을 받을 수 있습니다.</p>
                        <br>
                        <p style="text-indent:30px">제 6 조 (이용신청의 승낙)</p>
                        <p style="text-indent:40px">① 사이트는 신청자에 대하여 제2항, 제3항의 경우를 예외로 하여 서비스 이용신청을 승낙합니다.</p>
                        <p style="text-indent:40px">② 사이트는 다음에 해당하는 경우에 그 신청에 대한 승낙 제한사유가 해소될 때까지 승낙을 유보할 수 있습니다.</p>
                        <p style="text-indent:50px">가. 서비스 관련 설비에 여유가 없는 경우</p>
                        <p style="text-indent:50px">나. 기술상 지장이 있는 경우</p>
                        <p style="text-indent:50px">다. 기타 사이트가 필요하다고 인정되는 경우</p>
                        <p style="text-indent:40px">③ 사이트는 신청자가 다음에 해당하는 경우에는 승낙을 거부할 수 있습니다.</p>
                        <p style="text-indent:50px">가. 다른 개인(사이트)의 명의를 사용하여 신청한 경우</p>
                        <p style="text-indent:50px">나. 이용자 정보를 허위로 기재하여 신청한 경우</p>
                        <p style="text-indent:50px">다. 사회의 안녕질서 또는 미풍양속을 저해할 목적으로 신청한 경우</p>
                        <p style="text-indent:50px">라. 기타 사이트 소정의 이용신청요건을 충족하지 못하는 경우</p>
                        <br>
                        <p style="text-indent:30px">제 7 조 (이용자정보의 변경)</p>
                        <p style="text-indent:40px">회원은 이용 신청시에 기재했던 회원정보가 변경되었을 경우에는, </p>
                        <p style="text-indent:40px">온라인으로 수정하여야 하며 변경하지 않음으로 인하여 발생되는 모든 문제의 책임은 회원에게 있습니다.</p>
                        <br>

                        <p style="text-indent:20px">제 3 장 계약 당사자의 의무</p>
                        <p style="text-indent:30px">제 8 조 (사이트의 의무)</p>
                        <p style="text-indent:40px">① 사이트는 회원에게 각 호의 서비스를 제공합니다.</p>
                        <p style="text-indent:50px">가. 신규서비스와 도메인 정보에 대한 뉴스레터 발송</p>
                        <p style="text-indent:50px">나. 추가 도메인 등록시 개인정보 자동 입력</p>
                        <p style="text-indent:50px">다. 도메인 등록, 관리를 위한 각종 부가서비스</p>
                        <p style="text-indent:40px">② 사이트는 서비스 제공과 관련하여 취득한 회원의 개인정보를 회원의 동의없이 타인에게 누설, 공개 또는 배포할 수
                            없으며, </p>
                        <p style="text-indent:60px">서비스관련 업무 이외의 상업적 목적으로 사용할 수 없습니다. (단, 다음 각 호의 1에 해당하는 경우는
                            예외입니다.)</p>
                        <p style="text-indent:50px">가. 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우</p>
                        <p style="text-indent:50px">나. 범죄에 대한 수사상의 목적이 있거나 정보통신윤리 위원회의 요청이 있는 경우</p>
                        <p style="text-indent:50px">다. 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우</p>
                        <p style="text-indent:40px">③ 사이트는 이 약관에서 정한 바에 따라 지속적, 안정적으로 서비스를 제공할 의무가 있습니다.</p>
                        <br>
                        <p style="text-indent:30px">제 9 조 (회원의 의무)</p>
                        <p style="text-indent:40px">① 회원은 서비스 이용 시 다음 각 호의 행위를 하지 않아야 합니다.</p>
                        <p style="text-indent:50px">가. 다른 회원의 ID를 부정하게 사용하는 행위</p>
                        <p style="text-indent:50px">나. 서비스에서 얻은 정보를 사이트의 사전승낙 없이 회원의 이용 이외의 목적으로 복제하거나 이를 변경, 출판 및 방송 등에
                            사용하거나 타인에게 제공하는 행위</p>
                        <p style="text-indent:50px">다. 사이트의 저작권, 타인의 저작권 등 기타 권리를 침해하는 행위</p>
                        <p style="text-indent:50px">라. 공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형 등을 타인에게 유포하는 행위</p>
                        <p style="text-indent:50px">마. 범죄와 결부된다고 객관적으로 판단되는 행위</p>
                        <p style="text-indent:50px">바. 기타 관계법령에 위배되는 행위</p>
                        <p style="text-indent:40px">② 회원은 관계법령, 이 약관에서 규정하는 사항, 서비스 이용 안내 및 주의 사항을 준수하여야 합니다.</p>
                        <p style="text-indent:40px">③ 회원은 내용별로 사이트가 서비스 공지사항에 게시하거나 별도로 공지한 이용 제한 사항을 준수하여야 합니다.</p>
                        <br>

                        <p style="text-indent:20px">제 4 장 서비스 제공 및 이용</p>
                        <p style="text-indent:30px">제 10 조 (회원 아이디(ID)와 비밀번호 관리에 대한 회원의 의무)
                        <p style="text-indent:40px">① 아이디(ID)와 비밀번호에 대한 모든 관리는 회원에게 책임이 있습니다. 회원에게 부여된 아이디(ID)와 비밀번호의
                            관리소홀, 부정사용에 의하여</p>
                        <p style="text-indent:60px">발생하는 모든 결과에 대한 전적인 책임은 회원에게 있습니다.</p>
                        <p style="text-indent:40px">② 자신의 아이디(ID)가 부정하게 사용된 경우 또는 기타 보안 위반에 대하여, 회원은 반드시 사이트에 그 사실을 통보해야
                            합니다.</p>
                        <br>

                        <p style="text-indent:30px">제 11 조 (서비스 제한 및 정지)</p>
                        <p style="text-indent:40px">① 사이트는 전시, 사변, 천재지변 또는 이에 준하는 국가비상사태가 발생하거나 발생할 우려가 있는 경우와 </p>
                        <p style="text-indent:60px">전기통신사업법에 의한 기간통신 사업자가 전기통신서비스를 중지하는 등 기타 불가항력적 사유가 있는 경우에는 </p>
                        <p style="text-indent:60px">서비스의 전부 또는 일부를 제한하거나 정지할 수 있습니다.</p>
                        <p style="text-indent:40px">② 사이트는 제1항의 규정에 의하여 서비스의 이용을 제한하거나 정지할 때에는 그 사유 및 제한기간 등을 지체없이 회원에게
                            알려야 합니다.</p>
                        <br>
                        <p style="text-indent:20px">제5장 계약사항의 변경, 해지</p>
                        <br>
                        <p style="text-indent:30px">제 12 조 (정보의 변경)</p>
                        <p style="text-indent:30px">회원이 주소, 비밀번호 등 고객정보를 변경하고자 하는 경우에는 홈페이지의 회원정보 변경 서비스를 이용하여 변경할 수
                            있습니다.</p>
                        <br>

                        <p style="text-indent:30px">제 13 조 (계약사항의 해지)</p>
                        <p style="text-indent:30px">회원은 서비스 이용계약을 해지할 수 있으며, 해지할 경우에는 본인이 직접 서비스를 통하거나 전화 또는 온라인 등으로
                            사이트에 해지신청을 하여야 합니다. </p>
                        <p style="text-indent:30px">사이트는 해지신청이 접수된 당일부터 해당 회원의 서비스 이용을 제한합니다. </p>
                        <p style="text-indent:30px">사이트는 회원이 다음 각 항의 1에 해당하여 이용계약을 해지하고자 할 경우에는 해지조치 7일전까지 그 뜻을 이용고객에게
                            통지하여 소명할 기회를 주어야 합니다.</p>
                        <p style="text-indent:40px">① 이용고객이 이용제한 규정을 위반하거나 그 이용제한 기간 내에 제한 사유를 해소하지 않는 경우</p>
                        <p style="text-indent:40px">② 정보통신윤리위원회가 이용해지를 요구한 경우</p>
                        <p style="text-indent:40px">③ 이용고객이 정당한 사유 없이 의견진술에 응하지 아니한 경우</p>
                        <p style="text-indent:40px">④ 타인 명의로 신청을 하였거나 신청서 내용의 허위 기재 또는 허위서류를 첨부하여 이용계약을 체결한 경우 </p>
                        <p style="text-indent:60px">사이트는 상기 규정에 의하여 해지된 이용고객에 대해서는 별도로 정한 기간동안 가입을 제한할 수 있습니다.</p>
                        <br>

                        <p style="text-indent:20px">제6장 손해배상</p>
                        <p style="text-indent:30px">제 14 조 (면책조항)</p>
                        <p style="text-indent:40px">① 사이트는 회원이 서비스 제공으로부터 기대되는 이익을 얻지 못하였거나 서비스 자료에 대한 취사선택 또는 이용으로 발생하는
                            손해 등에 대해서는 책임이 면제됩니다.</p>
                        <p style="text-indent:40px">② 사이트는 회원의 귀책사유나 제3자의 고의로 인하여 서비스에 장애가 발생하거나 회원의 데이터가 훼손된 경우에 책임이
                            면제됩니다.</p>
                        <p style="text-indent:40px">③ 사이트는 회원이 게시 또는 전송한 자료의 내용에 대해서는 책임이 면제됩니다.</p>
                        <p style="text-indent:40px">④ 상표권이 있는 도메인의 경우, 이로 인해 발생할 수도 있는 손해나 배상에 대한 책임은 구매한 회원 당사자에게 있으며,
                            사이트는 이에 대한 일체의 책임을 지지 않습니다.</p>
                        <br>
                        <p style="text-indent:30px">제 15 조 (관할법원)</p>
                        <p style="text-indent:40px">서비스와 관련하여 사이트와 회원간에 분쟁이 발생할 경우 사이트의 본사 소재지를 관할하는 법원을 관할법원으로 합니다.</p>
                        <br>
                        <p style="text-align: center"><b>[부칙] 이 약관은 2023년 01월부터 시행합니다.</b></p>
                    </div>

                    <label for="order2_chk">
                        <h2><input type="checkbox" name="agree" value="1" id="order2_chk"/>
                            <span>이용약관 동의<strong>(필수)</strong></span></h2>
                    </label>

                    <div class="SE_rules" style="overflow-x:hidden">
                        <br>
                        <h1><p style="text-align: center">SOLAR EMBASSY 개인정보처리방침</p></h1>
                        <br>
                        <p style="text-align: center"><b>SOLAR EMBASSY</b>('SOLAR EMBASSY.com', 이하 솔라 엠버시)이(가) 취급하는 모든
                            개인정보는 개인정보보호법 등 관련 법령상의 개인정보보호 규정을 준수하여 </p>
                        <p style="text-align: center">이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은
                            처리방침을 두고 있습니다.</p>
                        <br>
                        <p style="text-indent:20px"><b>Ⅰ. 개인정보의 처리 목적</b></p>
                        <p style="text-indent:40px">① 솔라 엠버시는 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.</p>
                        <p style="text-indent:60px">고객 가입의사 확인, 고객에 대한 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 물품 또는 서비스 공급에
                            따른 </p>
                        <p style="text-indent:60px">금액 결제, 물품 또는 서비스의 공급·배송, 마케팅 및 광고에의 활용</p><br>
                        <br>
                        <p style="text-indent:20px"><b>Ⅱ. 개인정보의 처리 및 보유 기간 작성</b></p>
                        <p style="text-indent:40px">① 솔라 엠버시는 정보주체로부터 개인정보를 수집할 때 동의 받은 개인정보 보유·이용기간 또는 </p>
                        <p style="text-indent:60px">법령에 따른 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.</p>
                        <p style="text-indent:40px">② 구체적인 개인정보 처리 및 보유 기간은 다음과 같습니다.</p>
                        <p style="text-indent:60px">고객 가입 및 관리 : 서비스 이용계약 또는 회원가입 해지시까지, 다만 채권·채무관계 잔존시에는 해당 채권·채무관계
                            정산시까지</p>
                        <p style="text-indent:195px">전자상거래에서의 계약·청약철회, 대금결제, 재화 등 공급기록 : 5년</p>
                        <br>

                        <p style="text-indent:20px"><b>Ⅲ. 정보주체와 법정대리인의 권리·의무 및 그 행사방법</b></p>
                        <p style="text-indent:30px">정보주체는 솔라 엠버시에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.

                            <br>
                        <p style="text-indent:60px">1. 개인정보 열람요구</p>
                        <p style="text-indent:60px">2. 오류 등이 있을 경우 정정 요구</p>
                        <p style="text-indent:60px">3. 삭제요구</p>
                        <p style="text-indent:60px">4. 처리정지 요구</p>

                        <br>
                        <p style="text-indent:20px"><b>Ⅳ. 처리하는 개인정보 항목</b></p>
                        <p style="text-indent:30px">- 개인정보 처리업무: 홈페이지 회원가입 및 관리, 민원사무 처리, 재화 또는 서비스 제공, 마케팅 및 광고에의
                            활용</p>
                        <p style="text-indent:30px">- 필수항목: 로그인ID, 비밀번호, 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보, 결제기록</p>
                        <p style="text-indent:30px">- 선택항목: 이메일, 성별, 이름</p>
                        <br>

                        <p style="text-indent:20px"><b>Ⅴ. 개인정보의 파기</b></p>
                        <p style="text-indent:30px">- 파기절차 : 이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타
                            관련 법령에 따라 </p>
                        <p style="text-indent:110px">일정기간 저장된 후 혹은 즉시 파기됩니다. </p>
                        <p style="text-indent:110px">이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.</p>
                        <p style="text-indent:110px">파기기한 이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에</p>
                        <p style="text-indent:110px">개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의
                            처리가 불필요한 것으로
                        <p style="text-indent:110px">인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.</p>
                        <br>

                        <p style="text-indent:20px"><b>Ⅵ. 개인정보 자동 수집 장치의 설치·운영 및 그 거부에 관한 사항</b></p>
                        <p style="text-indent:30px">① 솔라 엠버시는 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를
                            사용합니다.</p>
                        <p style="text-indent:30px">② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 </p>
                        <p style="text-indent:50px">이용자들의 컴퓨터 내의 하드디스크에 저장되기도 합니다.</p>
                        <p style="text-indent:40px">가. 쿠키의 사용 목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속
                            여부, 등을 파악하여 이용자에게 </p>
                        <p style="text-indent:62px"> 최적화된 정보 제공을 위해 사용됩니다</p>
                        <p style="text-indent:40px">나. 쿠키의 설치·운영 및 거부 : 웹브라우저 상단의 도구 → 인터넷 옵션 → 개인정보 메뉴의 옵션 설정을 통해 쿠키
                            저장을 거부 할 수 있습니다.</p>
                        <p style="text-indent:40px">다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.</p>

                        <br>
                        <p style="text-indent:20px"><b>Ⅶ. 개인정보 보호책임자</b></p>
                        <p style="text-indent:30px">솔라 엠버시 문의처</p>
                        <p style="text-indent:40px">· 전화: 02-1234-5678</p>
                        <p style="text-indent:40px">· 이메일: SOLAR EMBASSY@admin.com</p>
                        <br>

                        <p style="text-indent:20px"><b>Ⅷ. 개인정보의 안전성 확보 조치</b></p>
                        <p style="text-indent:40px">· 개인정보의 암호화 : 이용자의 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며</p>
                        <p style="text-indent:185px">중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고
                            있습니다.</p>
                        <br>

                        <p style="text-indent:20px"><b>Ⅸ. 개인정보처리방침의 변경</b></p>
                        <p style="text-indent:40px">이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경 내용의 추가, 삭제 및 정정이 있는 경우에는
                            변경사항의 시행 7일 전부터 </p>
                        <p style="text-indent:40px">공지사항을 통하여 고지할 것입니다.</p>
                        <p style="text-align: right">· 공고일자 : 2023년 01월 01일　</p>
                        <p style="text-align: right">· 시행일자 : 2023년 01월 01일　</p>
                    </div>

                    <label for="agree1">
                        <h2><input type="checkbox" name="agree" value="2" class="order2_chks" id="agree1"/>
                            <span>개인정보 수집, 이용 동의<strong>(필수)</strong></span></h2>
                    </label>
                    <br>
                    <label for="agree2">
                        <h2><input type="checkbox" name="agree" value="3" class="order2_chks" id="agree2"/>
                            <span>개인정보 이용 동의<strong>(필수)</strong></span></h2>
                    </label>
                </div>

                <div id="promotion">
                    <p>이벤트/혜택 등 다양한 정보를 휴대전화(알림 또는 문자), 이메일로 받아보실 수 있습니다.</p>
                    <p>일부 서비스(별도 회원 체계로 운영하거나 네이버 가입 이후 추가 가입하여 이용하는 서비스 등)의 경우, </p>
                    <p>개별 서비스에 대해 별도 수신 동의를 받을 수 있으며, 이때에도 수신 동의에 대해 별도로 안내하고 동의를 받습니다.</p>
                </div>
                <label for="agree3">
                    <h2><input type="checkbox" name="agree" value="4" id="agree3">
                        <span>이벤트, 혜택정보 수신동의<strong class="select_disable">(선택)</strong></span></h2>
                </label>
                <br>
                <label for="agree_all">
                    <h1><input type="checkbox" name="agree_all" id="agree_all">
                        <span>모두 동의합니다</span></h1>
                </label>
                <script>
                    const agreeChkAll = document.querySelector('input[name=agree_all]');
                    agreeChkAll.addEventListener('change', (e) => {
                        let agreeChk = document.querySelectorAll('input[name=agree]');
                        for (let i = 0; i < agreeChk.length; i++) {
                            agreeChk[i].checked = e.target.checked;
                        }
                    });
                    const agree = document.getElementById("agree")
                    const agree1 = document.getElementById("agree1")
                    const agree2 = document.getElementById("agree2")
                    const agree3 = document.getElementById("agree3")

                    const signupBtn = document.getElementById("next_n")
                    signupBtn.addEventListener('onclick', (e) => {
                        if (agree.value === 1 && agree1 === 2 && agree2 === 3 && agree3 === 4) {
                            location.href='/user/signup_normal.do'
                        }else{
                            alert("모두 동의해주세요!")
                        }
                    })

                </script>
                <div id="buttons">
                    <button id="next_n" onclick="location.href='/user/signup_normal.do'">일반 회원</button>
                    <button id="next_b" onclick="location.href='/user/signup_business.do'">사업자 회원</button>
                    <button id="cancel" onclick="location.href='/'">취소</button>
                </div>
        </div>
        </section><!--여기까지-->
    </div>
</div>
</body>
</html>