<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>회원가입</title>
    <style>
        #app {
            margin: auto;
            margin-top: 60px;
            width: 60%;
            border: 10px;
            padding: 10px;
        }
        table,th,td{
            border: 1px solid #5ce5cb;
        }
        p{
            font-size: 8px;
        }
    </style>
</head>
<body>
    <h1>사업자 회원가입</h1>
    <div id="app">
        <!--회원가입 form start -->
            <table>
                <tr>
                    <td>아이디</td>
                    <td>
                        <input type="text" id="buId" placeholder="아이디" size="20">
                        <p id="buIdCheck"></p>
                        <button type="button" id="buIdCheckBtn">중복확인</button>
                    </td>
                </tr>
                <tr>
                    <td>사용할 아이디</td>
                    <td>
                        <input type="text" id="id" name="id" size="20" readonly>
                    </td>
                <tr>
                    <td>비밀번호</td>
                    <td>
                        <input type="text" id="buPasswords" name="buPasswords" placeholder="비밀번호">
                    </td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td>
                        <input type="text" id="buName" name="buName" placeholder="이름">
                    </td>
                </tr>
                <tr>
                    <td>이메일</td>
                    <td>
                        <input type="text" id="email" name="email" placeholder="이메일">
                    </td>
                </tr>
                <tr>
                    <td>휴대폰 번호</td>
                    <td>
                        <input type="text" id="phone" name="phone" placeholder="휴대폰 번호">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="button" id="account">회원가입</button>
                    </td>
                </tr>
            </table>
        <!--회원가입 form end -->
    </div>
    <!-- form 태그 사용 안함 jqurey를 이용해서 ajax로 처리 -->
    <script type="text/javascript">
        $(document).ready(function (){
            // 아이디 중복 검사 로직
            $("buIdCheckBtn").click(function (){
                $.ajax({
                    url: "http://localhost:8888/getId",
                    type: "POST",
                    data:{"buId": $("buId").val()},
                    success: function (res){
                        //alert('success')
                        if(res.trim() === 'ok'){
                            $("#buIdCheckBtn").html("사용 가능한 아이디입니다.");
                            $("#buId").val($("buId").val());
                        }else {
                            $("#buIdCheck").html("사용할 수 없는 아이디입니다.");
                            $("#buId").val("");
                            $("#buId").focus();
                        }
                    },
                    error: function (){
                        alert('error')
                    }
                });

            )};
            // 가입버튼 클릭 시 처리해줄 내용
            $("#account").click(function (){
            $.ajax({
                url: "http://localhost:8888/addBusiness",
                type: "POST",
                data: {
                    "buId": $("#buId").val(),
                    "buPassword": $("#buPasswords").val(),
                    "buName": $("#buName").val(),
                    "email": $("#email").val(),
                    "phone": $("#phone").val(),
                    "auth":1
                },
                // 리턴 받은 메시지 결과에 따른 처리
                success: function (res){
                    if (res.trim() === 'ok'){
                        console.log(res);
                        alert("가입을 축하합니다.");
                        location.href="login.html";
                    } else {
                        alert("가입 실패했습니다.");
                        $("#buId").val("");
                        $("#buPasswords").val("");
                        $("#buName").val("");
                        $("#email").val("");
                        $("#phone").val("");

                    }
                }
            });
        });
        });


    </script>



</body>
</html>