<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Admin">
            <id property="adminId" column="admin_id" jdbcType="VARCHAR"/>
            <result property="adminLevel" column="adminLevel" jdbcType="INTEGER"/>
            <result property="department" column="department" jdbcType="VARCHAR"/>
            <result property="regTime" column="regTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        admin_id,admin_level,department,
        reg_time,update_time
    </sql>
    <insert id="insertOne" parameterType="Admin">
        INSERT INTO admin(adminId, adminLevel, department, updateTime)
            VALUE (#{adminId}, #{adminLevel}, #{department}, #{updateTime})
    </insert>
    <update id="modifyOne">
        UPDATE admin
        SET adminLevel=#{adminId},
            department=#{department},
            updateTime=current_timestamp
        WHERE adminId = #{adminId}
    </update>
    <delete id="deleteOne">
        DELETE FROM admin WHERE adminId= #{adminId}
    </delete>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM admin
    </select>
    <select id="findOneByAdminId" resultType="com.community.solar_embassy.dto.Admin">
        SELECT * FROM admin WHERE adminId= #{adminId}
    </select>
</mapper>
