<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.AutoDataMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.AutoData">
        <id property="dataNo" column="data_no" jdbcType="INTEGER"/>
        <id property="pData" column="p_data" jdbcType="VARCHAR"/>
        <result property="autoName" column="auto_name" jdbcType="VARCHAR"/>
        <result property="subData" column="sub_data" jdbcType="VARCHAR"/>
        <result property="disp" column="disp" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectAutoDataDetail" parameterType="Integer" resultMap="BaseResultMap">
        <![CDATA[
        SELECT *
        FROM auto_data
        WHERE data_no = #{dataNo}
        ]]>
    </select>
</mapper>
