<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.AutoMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Auto">
        <id property="autoNo" column="autoNo" jdbcType="INTEGER"/>
        <id property="autoName" column="autoName" jdbcType="VARCHAR"/>
        <id property="codeName" column="codeName" jdbcType="VARCHAR"/>
        <result property="comNo" column="comNo" jdbcType="INTEGER"/>
        <result property="comName" column="comName" jdbcType="VARCHAR"/>
        <result property="autoType" column="autoType" jdbcType="VARCHAR"/>
        <result property="releaseDate" column="releaseDate" jdbcType="DATE"/>
        <result property="seat" column="seat" jdbcType="INTEGER"/>
        <result property="mpg" column="mpg" jdbcType="VARCHAR"/>
        <result property="disp" column="disp" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="VARCHAR"/>
        <result property="autoEngine" column="autoEngine" jdbcType="VARCHAR"/>
        <result property="autoImgName" column="autoImgName" jdbcType="VARCHAR"/>
        <result property="autoVideo" column="autoVideo" jdbcType="VARCHAR"/>
        <result property="link" column="link" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        autoNo,autoName,codeName,
        comNo,comName,autoType,
        releaseDate,seat,mpg,disp,
        price,autoEngine,autoImgName,
        autoVideo,link
    </sql>
    <insert id="insert">
        INSERT INTO auto(autoName, codeName, comNo, comName, autoType, releaseDate, seat, mpg,
                         disp, price, autoEngine, autoImgName, autoVideo)
        VALUES (#{autoName}, #{codeName}, #{comNo}, #{comName}, #{autoType},
                #{releaseDate}, #{seat}, #{mpg}, #{disp}, #{price}, #{autoEngine}, #{autoImgName}, #{autoVideo}, #{link})
    </insert>
    <select id="selectByAutoNo" resultType="com.community.solar_embassy.dto.Auto">
        SELECT * FROM auto WHERE autoNo= #{autoNo}
    </select>
</mapper>