<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.BoardMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Board">
            <id property="boardNo" column="board_no" jdbcType="INTEGER"/>
            <result property="galaxyNo" column="galaxy_no" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="boardTag" column="board_tag" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="contents" column="contents" jdbcType="VARCHAR"/>
            <result property="postTime" column="post_time" jdbcType="TIMESTAMP"/>
            <result property="updaterId" column="updater_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="likes" column="likes" jdbcType="INTEGER"/>
            <result property="dislikes" column="dislikes" jdbcType="INTEGER"/>
            <result property="views" column="views" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        board_no,galaxy_no,user_id,
        board_tag,title,contents,
        post_time,updater_id,update_time,
        state,likes,dislikes,
        views
    </sql>
</mapper>
