<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.BoardMapper">
    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.BoardDto">
        <id property="boardNo" column="boardNo" jdbcType="INTEGER"/>
        <id property="postTime" column="postTime" jdbcType="TIMESTAMP"/>
        <result property="galaxyNo" column="galaxyNo" jdbcType="INTEGER"/>
        <result property="userId" column="userId" jdbcType="VARCHAR"/>
        <result property="boardTag" column="boardTag" jdbcType="INTEGER"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="contents" column="contents" jdbcType="VARCHAR"/>
        <result property="updaterId" column="updaterId" jdbcType="VARCHAR"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="likes" column="likes" jdbcType="INTEGER"/>
        <result property="dislikes" column="dislikes" jdbcType="INTEGER"/>
        <result property="views" column="views" jdbcType="INTEGER"/>
        <association property="user" column="userId" select="com.community.solar_embassy.mapper.UsersMapper.findById"
                     fetchType="lazy"/>
    </resultMap>
    <!--게시글 목록-->
    <select id="selectBoardList" resultType="com.community.solar_embassy.dto.BoardDto">
        <![CDATA[
        SELECT boardNo, boardTag, title, userId, likes, views
        FROM board
        WHERE state = 0
        ORDER BY boardNo DESC
            LIMIT 9
        ]]>
    </select>
    <!--게시글 등록-->
    <insert id="insertBoard" useGeneratedKeys="true" keyProperty="boardNo" keyColumn="boardNo"
            parameterType="com.community.solar_embassy.dto.BoardDto">
        <![CDATA[
        INSERT INTO board(galaxyNo,
                          boardTag,
                          title,
                          contents,
                          postTime,
                          userId)
        VALUES (#{galaxyNo},
                #{boardTag},
                #{title},
                #{contents},
                CURRENT_TIMESTAMP,
                #{userId})
        ]]>
   </insert>
    <!--게시글 상세-->
    <select id="selectBoardDetail" parameterType="int" resultType="com.community.solar_embassy.dto.BoardDto">
        SELECT /* board_no, title, contents, views, coalesce(to_char(post_time,'YYYY-MM-DD HH24:MI'),'') LOG_TIME as post_time, user_id */*
        FROM board
        WHERE boardNo = #{boardNo}
          AND state = 0
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT *
        FROM board
    </select>
    <select id="selectBoardListByGalaxy" resultType="com.community.solar_embassy.dto.BoardDto">
        SELECT *
        FROM board
        WHERE galaxyNo = #{galaxyNo}
        ORDER BY boardNo DESC
    </select>
    <select id="selectBoardListBySize" resultType="com.community.solar_embassy.dto.BoardDto">
        SELECT *
        FROM board
        ORDER BY postTime DESC
            LIMIT #{size}
    </select>
    <select id="selectBoardListByGalaxySize" resultType="com.community.solar_embassy.dto.BoardDto">
        SELECT *
        FROM board
        WHERE galaxyNo = #{galaxyNo}
        ORDER BY postTime DESC
            LIMIT #{size}
    </select>
    <select id="selectHot" resultType="com.community.solar_embassy.dto.BoardDto">
        SELECT *
        FROM board
        WHERE boardNo >= #{endNo} - 100
        ORDER BY likes DESC, postTime DESC
            LIMIT 5
    </select>
    <select id="selectEnd" resultType="java.lang.Integer">
        SELECT boardNo
        FROM board
        ORDER BY boardNo DESC
            LIMIT 1
    </select>
    <select id="selectListByUserId" resultType="com.community.solar_embassy.dto.BoardDto">
        SELECT *
        FROM board
        WHERE userId = #{userId}
    </select>
    <!--수정, 삭제-->
    <update id="updateBoard" parameterType="com.community.solar_embassy.dto.BoardDto">
        <![CDATA[
        UPDATE board
        SET title     = #{title},
            contents  = #{contents},
            userId    = #{userId},
            updateTime=now(),
            boardTag=#{boardTag},
            updaterId=#{userId}
        WHERE boardNo = #{boardNo}
          AND state = 0
        ]]>
    </update>
    <!--게시글 조회 수 증가-->
    <update id="updateViews" parameterType="int">
        <![CDATA[
        UPDATE board
        SET views = views + 1
        WHERE boardNo = #{boardNo}
        ]]>
    </update>


    <delete id="deleteBoard" parameterType="int">
        <![CDATA[
        DELETE
        FROM board
        WHERE boardNo = #{boardNo}
        ]]>
    </delete>
    <resultMap id="BoardPreferViewMap" type="BoardPreferViewDto">
        <association property="likes"
                     select="com.community.solar_embassy.mapper.BoardPreferMapper.countByBoardNoAndPreferIsTrue"
                     column="boardNo"/>
        <association property="dislikes"
                     select="com.community.solar_embassy.mapper.BoardPreferMapper.countByBoardNoAndPreferIsFalse"
                     column="boardNo"/>

    </resultMap>
    <select id="countPreferById" resultMap="BoardPreferViewMap">
        SELECT *
        FROM board
        WHERE boardNo = #{boardNo}
    </select>
</mapper>