<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.BusinessMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Business">
            <id property="buNo" column="buNo" jdbcType="INTEGER"/>
            <result property="buId" column="buId" jdbcType="VARCHAR"/>
            <result property="buPasswords" column="buPasswords" jdbcType="VARCHAR"/>
            <result property="buName" column="buName" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="regDate" column="regDate" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="auth" column="auth" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        buNo,buId,buPasswords,
        buName,email,phone,
        regDate,updateTime,state,
        auth
    </sql>
</mapper>
