<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.ComImgMapper">
    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.ComImg">
        <id property="comImgNo" column="comImgNo" jdbcType="INTEGER"/>
        <result property="comNo" column="autoNo" jdbcType="INTEGER"/>
        <result property="comImgPath" column="autoImgPath" jdbcType="VARCHAR"/>
        <result property="sourceImgName" column="sourceImgName" jdbcType="VARCHAR"/>
    </resultMap>

    <!--    <sql id="Base_Column_List">-->
    <!--        comImgNo, comNo, comImgPath,-->
    <!--        sourceImgPath-->
    <!--    </sql>-->

</mapper>