<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.GalaxyMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Galaxy">
            <id property="galaxyNo" column="galaxy_no" jdbcType="INTEGER"/>
            <result property="adminId" column="admin_id" jdbcType="VARCHAR"/>
            <result property="galName" column="gal_name" jdbcType="VARCHAR"/>
            <result property="regTime" column="reg_time" jdbcType="TIMESTAMP"/>
            <result property="updaterId" column="updater_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        galaxy_no,admin_id,gal_name,
        reg_time,updater_id,update_time,
        state
    </sql>
</mapper>
