<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.LetterMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Letter">
            <id property="letterNo" column="letterNo" jdbcType="INTEGER"/>
            <result property="senderId" column="senderId" jdbcType="VARCHAR"/>
            <result property="receiverId" column="receiverId" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="contents" column="contents" jdbcType="VARCHAR"/>
            <result property="sentTime" column="sentTime" jdbcType="TIMESTAMP"/>
            <result property="readTime" column="readTime" jdbcType="TIMESTAMP"/>
            <result property="receiveState" column="receiveState" jdbcType="INTEGER"/>
            <result property="receiverName" column="receiverName" jdbcType="VARCHAR"/>
            <result property="senderName" column="senderName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        letterNo,senderId,receiverId,
        title,contents,sentTime,
        readTime,receiveState,receiverName,
        senderName
    </sql>
</mapper>
