<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.LetterMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Letter">
            <id property="letterNo" column="letterNo" jdbcType="INTEGER"/>
            <result property="senderId" column="sender_id" jdbcType="VARCHAR"/>
            <result property="receiverId" column="receiverId" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="contents" column="contents" jdbcType="VARCHAR"/>
            <result property="sentTime" column="sent_time" jdbcType="TIMESTAMP"/>
            <result property="readTime" column="read_time" jdbcType="TIMESTAMP"/>
            <result property="receiveState" column="receiveState" jdbcType="INTEGER"/>
            <result property="receiverDel" column="receiverDel" jdbcType="INTEGER"/>
            <result property="senderDel" column="sender_del" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        letter_no,sender_id,receiver_id,
        title,contents,sent_time,
        read_time,receive_state,receiver_del,
        sender_del
    </sql>
</mapper>
