<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.PlanetMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Planet">
            <id property="planetNo" column="planet_no" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="contents" column="contents" jdbcType="VARCHAR"/>
            <result property="postDate" column="post_date" jdbcType="TIMESTAMP"/>
            <result property="likes" column="likes" jdbcType="INTEGER"/>
            <result property="dislikes" column="dislikes" jdbcType="INTEGER"/>
            <result property="galaxyNo" column="galaxy_no" jdbcType="INTEGER"/>
            <result property="views" column="views" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        planet_no,title,user_id,
        contents,post_date,likes,
        dislikes,galaxy_no,views,
        state
    </sql>
</mapper>
