<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.PopularSearchMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.PopularSearchDto">
            <id property="psNo" column="ps_no" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="crNum" column="cr_num" jdbcType="VARCHAR"/>
            <result property="buTell" column="bu_tell" jdbcType="VARCHAR"/>
            <result property="psKeyword" column="ps_keyword" jdbcType="VARCHAR"/>
            <result property="psDatetime" column="ps_datetime" jdbcType="TIMESTAMP"/>
            <result property="psIp" column="ps_ip" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        ps_no,user_id,cr_num,
        bu_tell,ps_keyword,ps_datetime,
        ps_ip
    </sql>
</mapper>
