<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.ProfileImgMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.ProfileImg">
            <id property="profileImgNo" column="profile_img_no" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="imgPath" column="img_path" jdbcType="VARCHAR"/>
            <result property="originImgName" column="origin_img_name" jdbcType="VARCHAR"/>
            <result property="saveImgName" column="save_img_name" jdbcType="VARCHAR"/>
            <result property="postTime" column="post_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        profile_img_no,user_id,img_path,
        origin_img_name,save_img_name,post_time,
        update_time
    </sql>
    <select id="findProfileImg" resultType="java.lang.Integer">
        SELECT
    </select>
</mapper>
