<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.ProfileImgMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.ProfileImg">
            <id property="profileImgNo" column="profileImgNo" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="imgPath" column="imgPath" jdbcType="VARCHAR"/>
            <result property="originImgName" column="originImgName" jdbcType="VARCHAR"/>
            <result property="saveImgName" column="save_img_name" jdbcType="VARCHAR"/>
            <result property="postTime" column="postTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        profileImgNo,userId,imgPath,
        originImgName,saveImgName,postTime,
        updateTime
    </sql>
    <insert id="insert">
        INSERT INTO profile_img(userId, imgPath, originImgName, saveImgName)
        VALUES (#{userId}, #{imgPath}, #{originImgName}, #{saveImgName})
    </insert>
    <update id="update">
        UPDATE profile_img
        SET userId=#{userId},
            imgPath=#{imgPath},
            originImgName=#{originImgName},
            saveImgName=#{saveImgName},
            updateTime=CURRENT_TIMESTAMP
        WHERE profileImgNo = #{profileImgNo}
    </update>
    <update id="resetNo">
        ALTER TABLE profile_img AUTO_INCREMENT=#{profileImgNo}
    </update>
    <delete id="delete">
        DELETE FROM profile_img WHERE profileImgNo= #{profileImgNo}
    </delete>
    <select id="lastIndex" resultType="java.lang.Integer">
        SELECT profileImgNo FROM profile_img ORDER BY profileImgNo DESC LIMIT 1
    </select>
    <select id="findByNo" resultType="com.community.solar_embassy.dto.ProfileImg">
        SELECT * FROM profile_img WHERE profileImgNo= #{profileImgNo}
    </select>
    <select id="findAll" resultType="com.community.solar_embassy.dto.ProfileImg">
        SELECT * FROM profile_img
    </select>
    <select id="findAble" resultType="com.community.solar_embassy.dto.ProfileImg">
        SELECT * FROM profile_img WHERE userId in ('admin',#{userId})
    </select>
</mapper>
