<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.ReviewMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Review">
            <id property="reNo" column="reNo" jdbcType="INTEGER"/>
            <id property="postTime" column="postTime" jdbcType="TIMESTAMP"/>
            <result property="bokNo" column="bokNo" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="contents" column="contents" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="likes" column="likes" jdbcType="INTEGER"/>
            <result property="buComment" column="buComment" jdbcType="VARCHAR"/>
            <result property="updaterId" column="updaterId" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        reNo,postTime,bokNo,
        userId,contents,state,
        likes,buComment,updaterId,
        updateTime
    </sql>
</mapper>
