<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.Room">
            <id property="roNo" column="ro_no" jdbcType="INTEGER"/>
            <result property="crNum" column="cr_num" jdbcType="VARCHAR"/>
            <result property="buTell" column="bu_tell" jdbcType="VARCHAR"/>
            <result property="buImgNo" column="bu_img_no" jdbcType="INTEGER"/>
            <result property="roCount" column="ro_count" jdbcType="VARCHAR"/>
            <result property="roName" column="ro_name" jdbcType="VARCHAR"/>
            <result property="roPrice" column="ro_price" jdbcType="VARCHAR"/>
            <result property="checkin" column="checkin" jdbcType="TIMESTAMP"/>
            <result property="checkout" column="checkout" jdbcType="TIMESTAMP"/>
            <result property="roInfo" column="ro_info" jdbcType="VARCHAR"/>
            <result property="postTime" column="post_time" jdbcType="TIMESTAMP"/>
            <result property="updaterId" column="updater_id" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ro_no,cr_num,bu_tell,
        bu_img_no,ro_count,ro_name,
        ro_price,checkin,checkout,
        ro_info,post_time,updater_id,
        update_time
    </sql>
</mapper>
