<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.User">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="passwords" column="passwords" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="adminId" column="admin_id" jdbcType="VARCHAR"/>
            <result property="regDate" column="reg_date" jdbcType="TIMESTAMP"/>
            <result property="lastLoginTime" column="last_login_time" jdbcType="TIMESTAMP"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="points" column="points" jdbcType="INTEGER"/>
            <result property="exp" column="exp" jdbcType="INTEGER"/>
            <result property="userLevel" column="user_level" jdbcType="INTEGER"/>
            <result property="grade" column="grade" jdbcType="INTEGER"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="location" column="location" jdbcType="INTEGER"/>
            <result property="hobby" column="hobby" jdbcType="VARCHAR"/>
            <result property="birth" column="birth" jdbcType="DATE"/>
    </resultMap>


    <select id="findByUserIdAndPw" resultType="com.community.solar_embassy.dto.User">
        SELECT * FROM USER WHERE user_id=#{userID} AND passwords=#{passwords}
    </select>

    <delete id="deleteById">
        DELETE FROM solar_embassy.user where user_id=#{user_id}
    </delete>

    <select id="findById" resultType="com.community.solar_embassy.dto.User">
        SELECT * FROM solar_embassy.user where user_id=#{user_id}
    </select>

    <insert id="insert">
        INSERT INTO solar_embassy.user
            (user_id, user_name, passwords,
             email, phone, admin_id,
             gender, location, hobby, birth) VALUES
                (#{userId},#{userName},#{passwords},#{email},#{phone},#{adminId},#{gender},#{location},#{hobby},#{birth})
    </insert>

    <update id="update">
        UPDATE solar_embassy.user
        SET user_name=#{userName},
            passwords=#{passwords},
            email=#{email},
            phone=#{phone},
            location=#{location},
            hobby=#{hobby}
        WHERE user_id=#{userId}
    </update>

</mapper>
