<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.solar_embassy.mapper.UserImageMapper">

    <resultMap id="BaseResultMap" type="com.community.solar_embassy.dto.UserImage">
            <id property="userImageNo" column="user_image_no" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="imagePath" column="image_path" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_image_no,user_id,image_path
    </sql>
</mapper>
