<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community.solar_embassy.mapper.GradeImgMapper">

    <resultMap id="BaseResultMap" type="community.solar_embassy.dto.GradeImg">
        <id property="grade" column="grade" jdbcType="VARCHAR"/>
        <result property="imgPath" column="imgPath" jdbcType="VARCHAR"/>
        <result property="originImgName" column="origin_img_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- <sql id="Base_Column_List">
        grade,img_path,origin_img_name
    </sql> -->
</mapper>